In [1]:
from wrangle import bold, strike, underline

In [2]:
this = "the statement"

print(f"If I did this right, we can get {bold('bold')} letters in a print statement...")

If I did this right, we can get bold letters in a print statement...

In [3]:
this = "the statement"

print(f"If I did this right, we can get {bold(underline('bold and underlined'))} letters in a print statement...")

If I did this right, we can get b̲o̲l̲d̲ ̲a̲n̲d̲ ̲u̲n̲d̲e̲r̲l̲i̲n̲e̲d̲ letters in a print statement...

In [4]:
from pprint import pp

In [6]:
pp(f'This is {this}')

'This is the statement'

In [7]:
import numpy as np
import pandas as pd
from scipy import stats
from wrangle import get_zillow, summarize

In [8]:
df = get_zillow()

In [9]:
df

,id,parcel,logerror,trans_date,ac_type,arch_type,build_type,heat_type,land_use_type,story_type,...,num_stories,fireplace_flag,building_tax_value,tax_value,year_assesed,land_tax_value,tax_amount,tax_delinquency_flag,tax_delinquency_year,tract_and_block
0,0,14297519,0.025595,2017-01-01,None,None,None,None,Single Family Residential,None,...,NaN,NaN,485713.0,1023282.0,2016.0,537569.0,11013.72,None,NaN,6.059063e+13
1,1,17052889,0.055619,2017-01-01,None,None,None,None,Single Family Residential,None,...,1.0,NaN,88000.0,464000.0,2016.0,376000.0,5672.48,None,NaN,6.111001e+13
2,2,14186244,0.005383,2017-01-01,None,None,None,None,Single Family Residential,None,...,1.0,NaN,85289.0,564778.0,2016.0,479489.0,6488.30,None,NaN,6.059022e+13
3,3,12177905,-0.103410,2017-01-01,None,None,None,Central,Single Family Residential,None,...,NaN,NaN,108918.0,145143.0,2016.0,36225.0,1777.51,None,NaN,6.037300e+13
4,4,10887214,0.006940,2017-01-01,Central,None,None,Central,Condominium,None,...,NaN,NaN,73681.0,119407.0,2016.0,45726.0,1533.89,None,NaN,6.037124e+13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76707,77608,10833991,-0.002245,2017-09-20,Central,None,None,Central,Condominium,None,...,NaN,NaN,265000.0,379000.0,2016.0,114000.0,4685.34,None,NaN,6.037132e+13
76708,77609,11000655,0.020615,2017-09-20,None,None,None,Central,Single Family Residential,None,...,NaN,NaN,70917.0,354621.0,2016.0,283704.0,4478.43,None,NaN,6.037101e+13
76709,77610,17239384,0.013209,2017-09-21,None,None,None,None,Single Family Residential,None,...,1.0,NaN,50683.0,67205.0,2016.0,16522.0,1107.48,None,NaN,6.111008e+13
76710,77611,12773139,0.037129,2017-09-21,Central,None,None,Central,Single Family Residential,None,...,NaN,NaN,32797.0,49546.0,2016.0,16749.0,876.43,None,NaN,6.037434e+13
76711,77612,12826780,0.007204,2017-09-25,None,None,None,Central,Single Family Residential,None,...,NaN,NaN,140000.0,522000.0,2016.0,382000.0,6317.15,None,NaN,6.037503e+13

In [12]:
print(df.head().to_markdown())

|    |   id |   parcel |    logerror | trans_date          | ac_type   | arch_type   | build_type   | heat_type   | land_use_type             | story_type   | construction_type   |   basementsqft |   bathrooms |   bedrooms |   quality_type |   calc_bath_n_bed |   deck_type |   floor_1_sqft |   tot_sqft |   sqft_12 |   sqft_13 |   sqft_15 |   sqft_50 |   sqft_6 | fips               |   fireplaces |   full_baths |   garages |   garage_sqft |   hot_tub |         lat |          lon |   lot_sqft |   pools |   pool_sqft |   pool_id10 |   pool_id2 |   pool_id7 | county_landuse   | zoning     |   raw_tract_and_block |   city_id |   county_id |   neighborhood |   zip_code |   num_rooms |   stories_type |   three_quarter_baths |   units |   yard_sqft_17 |   yard_sqft_26 |   year_built |   num_stories |   fireplace_flag |   building_tax_value |        tax_value |   year_assesed |   land_tax_value |   tax_amount | tax_delinquency_flag   |   tax_delinquency_year |   tract_and_block |
|---:|-----:|---------:|------------:|:--------------------|:----------|:------------|:-------------|:------------|:--------------------------|:-------------|:--------------------|---------------:|------------:|-----------:|---------------:|------------------:|------------:|---------------:|-----------:|----------:|----------:|----------:|----------:|---------:|:-------------------|-------------:|-------------:|----------:|--------------:|----------:|------------:|-------------:|-----------:|--------:|------------:|------------:|-----------:|-----------:|:-----------------|:-----------|----------------------:|----------:|------------:|---------------:|-----------:|------------:|---------------:|----------------------:|--------:|---------------:|---------------:|-------------:|--------------:|-----------------:|---------------------:|-----------------:|---------------:|-----------------:|-------------:|:-----------------------|-----------------------:|------------------:|
|  0 |    0 | 14297519 |  0.0255949  | 2017-01-01 00:00:00 |           |             |              |             | Single Family Residential |              |                     |            nan |         3.5 |          4 |            nan |               3.5 |         nan |            nan |       3100 |      3100 |       nan |       nan |       nan |      nan | Orange County      |          nan |            3 |         2 |           633 |       nan | 3.36349e+07 | -1.17869e+08 |       4506 |     nan |         nan |         nan |        nan |        nan | 122              |            |           6.05906e+07 |     53571 |        1286 |            nan |      96978 |           0 |            nan |                     1 |     nan |            nan |            nan |         1998 |           nan |              nan |               485713 |      1.02328e+06 |           2016 |           537569 |     11013.7  |                        |                    nan |       6.05906e+13 |
|  1 |    1 | 17052889 |  0.0556191  | 2017-01-01 00:00:00 |           |             |              |             | Single Family Residential |              |                     |            nan |         1   |          2 |            nan |               1   |         nan |           1465 |       1465 |      1465 |       nan |       nan |      1465 |      nan | Ventura County     |            1 |            1 |         1 |             0 |       nan | 3.44493e+07 | -1.19282e+08 |      12647 |     nan |         nan |         nan |        nan |        nan | 1110             |            |           6.111e+07   |     13091 |        2061 |            nan |      97099 |           5 |            nan |                   nan |     nan |            nan |            nan |         1967 |             1 |              nan |                88000 | 464000           |           2016 |           376000 |      5672.48 |                        |                    nan |       6.111e+13   |
|  2 |    2 | 14186244 |  0.00538285 | 2017-01-01 00:00:00 |           |             |              |             | Single Family Residential |              |                     |            nan |         2   |          3 |            nan |               2   |         nan |            nan |       1243 |      1243 |       nan |       nan |       nan |      nan | Orange County      |          nan |            2 |         2 |           440 |       nan | 3.38862e+07 | -1.17823e+08 |       8432 |       1 |         nan |         nan |        nan |          1 | 122              |            |           6.05902e+07 |     21412 |        1286 |            nan |      97078 |           6 |            nan |                   nan |     nan |            nan |            nan |         1962 |             1 |              nan |                85289 | 564778           |           2016 |           479489 |      6488.3  |                        |                    nan |       6.05902e+13 |
|  3 |    3 | 12177905 | -0.10341    | 2017-01-01 00:00:00 |           |             |              | Central     | Single Family Residential |              |                     |            nan |         3   |          4 |              8 |               3   |         nan |            nan |       2376 |      2376 |       nan |       nan |       nan |      nan | Los Angeles County |          nan |            3 |       nan |           nan |       nan | 3.42452e+07 | -1.18241e+08 |      13038 |       1 |         nan |         nan |        nan |          1 | 0101             | LCR110000* |           6.0373e+07  |    396551 |        3101 |            nan |      96330 |           0 |            nan |                   nan |       1 |            nan |            nan |         1970 |           nan |              nan |               108918 | 145143           |           2016 |            36225 |      1777.51 |                        |                    nan |       6.0373e+13  |
|  4 |    4 | 10887214 |  0.00694036 | 2017-01-01 00:00:00 | Central   |             |              | Central     | Condominium               |              |                     |            nan |         3   |          3 |              8 |               3   |         nan |            nan |       1312 |      1312 |       nan |       nan |       nan |      nan | Los Angeles County |          nan |            3 |       nan |           nan |       nan | 3.41851e+07 | -1.18415e+08 |     278581 |       1 |         nan |         nan |        nan |          1 | 010C             | LAR3       |           6.03712e+07 |     12447 |        3101 |         268548 |      96451 |           0 |            nan |                   nan |       1 |            nan |            nan |         1964 |           nan |              nan |                73681 | 119407           |           2016 |            45726 |      1533.89 |                        |                    nan |       6.03712e+13 |

|    |   id |   parcel |    logerror | trans_date          | ac_type   | arch_type   | build_type   | heat_type   | land_use_type             | story_type   | construction_type   |   basementsqft |   bathrooms |   bedrooms |   quality_type |   calc_bath_n_bed |   deck_type |   floor_1_sqft |   tot_sqft |   sqft_12 |   sqft_13 |   sqft_15 |   sqft_50 |   sqft_6 | fips               |   fireplaces |   full_baths |   garages |   garage_sqft |   hot_tub |         lat |          lon |   lot_sqft |   pools |   pool_sqft |   pool_id10 |   pool_id2 |   pool_id7 | county_landuse   | zoning     |   raw_tract_and_block |   city_id |   county_id |   neighborhood |   zip_code |   num_rooms |   stories_type |   three_quarter_baths |   units |   yard_sqft_17 |   yard_sqft_26 |   year_built |   num_stories |   fireplace_flag |   building_tax_value |        tax_value |   year_assesed |   land_tax_value |   tax_amount | tax_delinquency_flag   |   tax_delinquency_year |   tract_and_block |
|---:|-----:|---------:|------------:|:--------------------|:----------|:------------|:-------------|:------------|:--------------------------|:-------------|:--------------------|---------------:|------------:|-----------:|---------------:|------------------:|------------:|---------------:|-----------:|----------:|----------:|----------:|----------:|---------:|:-------------------|-------------:|-------------:|----------:|--------------:|----------:|------------:|-------------:|-----------:|--------:|------------:|------------:|-----------:|-----------:|:-----------------|:-----------|----------------------:|----------:|------------:|---------------:|-----------:|------------:|---------------:|----------------------:|--------:|---------------:|---------------:|-------------:|--------------:|-----------------:|---------------------:|-----------------:|---------------:|-----------------:|-------------:|:-----------------------|-----------------------:|------------------:|
|  0 |    0 | 14297519 |  0.0255949  | 2017-01-01 00:00:00 |           |             |              |             | Single Family Residential |              |                     |            nan |         3.5 |          4 |            nan |               3.5 |         nan |            nan |       3100 |      3100 |       nan |       nan |       nan |      nan | Orange County      |          nan |            3 |         2 |           633 |       nan | 3.36349e+07 | -1.17869e+08 |       4506 |     nan |         nan |         nan |        nan |        nan | 122              |            |           6.05906e+07 |     53571 |        1286 |            nan |      96978 |           0 |            nan |                     1 |     nan |            nan |            nan |         1998 |           nan |              nan |               485713 |      1.02328e+06 |           2016 |           537569 |     11013.7  |                        |                    nan |       6.05906e+13 |
|  1 |    1 | 17052889 |  0.0556191  | 2017-01-01 00:00:00 |           |             |              |             | Single Family Residential |              |                     |            nan |         1   |          2 |            nan |               1   |         nan |           1465 |       1465 |      1465 |       nan |       nan |      1465 |      nan | Ventura County     |            1 |            1 |         1 |             0 |       nan | 3.44493e+07 | -1.19282e+08 |      12647 |     nan |         nan |         nan |        nan |        nan | 1110             |            |           6.111e+07   |     13091 |        2061 |            nan |      97099 |           5 |            nan |                   nan |     nan |            nan |            nan |         1967 |             1 |              nan |                88000 | 464000           |           2016 |           376000 |      5672.48 |                        |                    nan |       6.111e+13   |
|  2 |    2 | 14186244 |  0.00538285 | 2017-01-01 00:00:00 |           |             |              |             | Single Family Residential |              |                     |            nan |         2   |          3 |            nan |               2   |         nan |            nan |       1243 |      1243 |       nan |       nan |       nan |      nan | Orange County      |          nan |            2 |         2 |           440 |       nan | 3.38862e+07 | -1.17823e+08 |       8432 |       1 |         nan |         nan |        nan |          1 | 122              |            |           6.05902e+07 |     21412 |        1286 |            nan |      97078 |           6 |            nan |                   nan |     nan |            nan |            nan |         1962 |             1 |              nan |                85289 | 564778           |           2016 |           479489 |      6488.3  |                        |                    nan |       6.05902e+13 |
|  3 |    3 | 12177905 | -0.10341    | 2017-01-01 00:00:00 |           |             |              | Central     | Single Family Residential |              |                     |            nan |         3   |          4 |              8 |               3   |         nan |            nan |       2376 |      2376 |       nan |       nan |       nan |      nan | Los Angeles County |          nan |            3 |       nan |           nan |       nan | 3.42452e+07 | -1.18241e+08 |      13038 |       1 |         nan |         nan |        nan |          1 | 0101             | LCR110000* |           6.0373e+07  |    396551 |        3101 |            nan |      96330 |           0 |            nan |                   nan |       1 |            nan |            nan |         1970 |           nan |              nan |               108918 | 145143           |           2016 |            36225 |      1777.51 |                        |                    nan |       6.0373e+13  |
|  4 |    4 | 10887214 |  0.00694036 | 2017-01-01 00:00:00 | Central   |             |              | Central     | Condominium               |              |                     |            nan |         3   |          3 |              8 |               3   |         nan |            nan |       1312 |      1312 |       nan |       nan |       nan |      nan | Los Angeles County |          nan |            3 |       nan |           nan |       nan | 3.41851e+07 | -1.18415e+08 |     278581 |       1 |         nan |         nan |        nan |          1 | 010C             | LAR3       |           6.03712e+07 |     12447 |        3101 |         268548 |      96451 |           0 |            nan |                   nan |       1 |            nan |            nan |         1964 |           nan |              nan |                73681 | 119407           |           2016 |            45726 |      1533.89 |                        |                    nan |       6.03712e+13 |

In [11]:
pp(df.head())

   id    parcel  logerror trans_date  ac_type arch_type build_type heat_type  \
0   0  14297519  0.025595 2017-01-01     None      None       None      None
1   1  17052889  0.055619 2017-01-01     None      None       None      None
2   2  14186244  0.005383 2017-01-01     None      None       None      None
3   3  12177905 -0.103410 2017-01-01     None      None       None   Central
4   4  10887214  0.006940 2017-01-01  Central      None       None   Central

               land_use_type story_type  ... num_stories  fireplace_flag  \
0  Single Family Residential       None  ...         NaN             NaN
1  Single Family Residential       None  ...         1.0             NaN
2  Single Family Residential       None  ...         1.0             NaN
3  Single Family Residential       None  ...         NaN             NaN
4                Condominium       None  ...         NaN             NaN

   building_tax_value  tax_value  year_assesed  land_tax_value  tax_amount  \
0            485713.0  1023282.0        2016.0        537569.0    11013.72
1             88000.0   464000.0        2016.0        376000.0     5672.48
2             85289.0   564778.0        2016.0        479489.0     6488.30
3            108918.0   145143.0        2016.0         36225.0     1777.51
4             73681.0   119407.0        2016.0         45726.0     1533.89

   tax_delinquency_flag  tax_delinquency_year  tract_and_block
0                  None                   NaN     6.059063e+13
1                  None                   NaN     6.111001e+13
2                  None                   NaN     6.059022e+13
3                  None                   NaN     6.037300e+13
4                  None                   NaN     6.037124e+13

[5 rows x 62 columns]

In [15]:
from IPython.display import display, Markdown, Latex
display(Markdown('*some markdown* $\phi$'))

*some markdown* $\phi$

In [17]:
# If you particularly want to display maths, this is more direct:
display(Latex('$\phi$'))

In [21]:

display(Markdown(f'{df.head().to_markdown()}'))

|    |   id |   parcel |    logerror | trans_date          | ac_type   | arch_type   | build_type   | heat_type   | land_use_type             | story_type   | construction_type   |   basementsqft |   bathrooms |   bedrooms |   quality_type |   calc_bath_n_bed |   deck_type |   floor_1_sqft |   tot_sqft |   sqft_12 |   sqft_13 |   sqft_15 |   sqft_50 |   sqft_6 | fips               |   fireplaces |   full_baths |   garages |   garage_sqft |   hot_tub |         lat |          lon |   lot_sqft |   pools |   pool_sqft |   pool_id10 |   pool_id2 |   pool_id7 | county_landuse   | zoning     |   raw_tract_and_block |   city_id |   county_id |   neighborhood |   zip_code |   num_rooms |   stories_type |   three_quarter_baths |   units |   yard_sqft_17 |   yard_sqft_26 |   year_built |   num_stories |   fireplace_flag |   building_tax_value |        tax_value |   year_assesed |   land_tax_value |   tax_amount | tax_delinquency_flag   |   tax_delinquency_year |   tract_and_block |
|---:|-----:|---------:|------------:|:--------------------|:----------|:------------|:-------------|:------------|:--------------------------|:-------------|:--------------------|---------------:|------------:|-----------:|---------------:|------------------:|------------:|---------------:|-----------:|----------:|----------:|----------:|----------:|---------:|:-------------------|-------------:|-------------:|----------:|--------------:|----------:|------------:|-------------:|-----------:|--------:|------------:|------------:|-----------:|-----------:|:-----------------|:-----------|----------------------:|----------:|------------:|---------------:|-----------:|------------:|---------------:|----------------------:|--------:|---------------:|---------------:|-------------:|--------------:|-----------------:|---------------------:|-----------------:|---------------:|-----------------:|-------------:|:-----------------------|-----------------------:|------------------:|
|  0 |    0 | 14297519 |  0.0255949  | 2017-01-01 00:00:00 |           |             |              |             | Single Family Residential |              |                     |            nan |         3.5 |          4 |            nan |               3.5 |         nan |            nan |       3100 |      3100 |       nan |       nan |       nan |      nan | Orange County      |          nan |            3 |         2 |           633 |       nan | 3.36349e+07 | -1.17869e+08 |       4506 |     nan |         nan |         nan |        nan |        nan | 122              |            |           6.05906e+07 |     53571 |        1286 |            nan |      96978 |           0 |            nan |                     1 |     nan |            nan |            nan |         1998 |           nan |              nan |               485713 |      1.02328e+06 |           2016 |           537569 |     11013.7  |                        |                    nan |       6.05906e+13 |
|  1 |    1 | 17052889 |  0.0556191  | 2017-01-01 00:00:00 |           |             |              |             | Single Family Residential |              |                     |            nan |         1   |          2 |            nan |               1   |         nan |           1465 |       1465 |      1465 |       nan |       nan |      1465 |      nan | Ventura County     |            1 |            1 |         1 |             0 |       nan | 3.44493e+07 | -1.19282e+08 |      12647 |     nan |         nan |         nan |        nan |        nan | 1110             |            |           6.111e+07   |     13091 |        2061 |            nan |      97099 |           5 |            nan |                   nan |     nan |            nan |            nan |         1967 |             1 |              nan |                88000 | 464000           |           2016 |           376000 |      5672.48 |                        |                    nan |       6.111e+13   |
|  2 |    2 | 14186244 |  0.00538285 | 2017-01-01 00:00:00 |           |             |              |             | Single Family Residential |              |                     |            nan |         2   |          3 |            nan |               2   |         nan |            nan |       1243 |      1243 |       nan |       nan |       nan |      nan | Orange County      |          nan |            2 |         2 |           440 |       nan | 3.38862e+07 | -1.17823e+08 |       8432 |       1 |         nan |         nan |        nan |          1 | 122              |            |           6.05902e+07 |     21412 |        1286 |            nan |      97078 |           6 |            nan |                   nan |     nan |            nan |            nan |         1962 |             1 |              nan |                85289 | 564778           |           2016 |           479489 |      6488.3  |                        |                    nan |       6.05902e+13 |
|  3 |    3 | 12177905 | -0.10341    | 2017-01-01 00:00:00 |           |             |              | Central     | Single Family Residential |              |                     |            nan |         3   |          4 |              8 |               3   |         nan |            nan |       2376 |      2376 |       nan |       nan |       nan |      nan | Los Angeles County |          nan |            3 |       nan |           nan |       nan | 3.42452e+07 | -1.18241e+08 |      13038 |       1 |         nan |         nan |        nan |          1 | 0101             | LCR110000* |           6.0373e+07  |    396551 |        3101 |            nan |      96330 |           0 |            nan |                   nan |       1 |            nan |            nan |         1970 |           nan |              nan |               108918 | 145143           |           2016 |            36225 |      1777.51 |                        |                    nan |       6.0373e+13  |
|  4 |    4 | 10887214 |  0.00694036 | 2017-01-01 00:00:00 | Central   |             |              | Central     | Condominium               |              |                     |            nan |         3   |          3 |              8 |               3   |         nan |            nan |       1312 |      1312 |       nan |       nan |       nan |      nan | Los Angeles County |          nan |            3 |       nan |           nan |       nan | 3.41851e+07 | -1.18415e+08 |     278581 |       1 |         nan |         nan |        nan |          1 | 010C             | LAR3       |           6.03712e+07 |     12447 |        3101 |         268548 |      96451 |           0 |            nan |                   nan |       1 |            nan |            nan |         1964 |           nan |              nan |                73681 | 119407           |           2016 |            45726 |      1533.89 |                        |                    nan |       6.03712e+13 |

'   id    parcel  logerror trans_date  ac_type arch_type build_type heat_type  \\\n0   0  14297519  0.025595 2017-01-01     None      None       None      None   \n1   1  17052889  0.055619 2017-01-01     None      None       None      None   \n2   2  14186244  0.005383 2017-01-01     None      None       None      None   \n3   3  12177905 -0.103410 2017-01-01     None      None       None   Central   \n4   4  10887214  0.006940 2017-01-01  Central      None       None   Central   \n\n               land_use_type story_type  ... num_stories  fireplace_flag  \\\n0  Single Family Residential       None  ...         NaN             NaN   \n1  Single Family Residential       None  ...         1.0             NaN   \n2  Single Family Residential       None  ...         1.0             NaN   \n3  Single Family Residential       None  ...         NaN             NaN   \n4                Condominium       None  ...         NaN             NaN   \n\n   building_tax_value  tax_value  year_assesed  land_tax_value  tax_amount  \\\n0            485713.0  1023282.0        2016.0        537569.0    11013.72   \n1             88000.0   464000.0        2016.0        376000.0     5672.48   \n2             85289.0   564778.0        2016.0        479489.0     6488.30   \n3            108918.0   145143.0        2016.0         36225.0     1777.51   \n4             73681.0   119407.0        2016.0         45726.0     1533.89   \n\n   tax_delinquency_flag  tax_delinquency_year  tract_and_block  \n0                  None                   NaN     6.059063e+13  \n1                  None                   NaN     6.111001e+13  \n2                  None                   NaN     6.059022e+13  \n3                  None                   NaN     6.037300e+13  \n4                  None                   NaN     6.037124e+13  \n\n[5 rows x 62 columns]'

In [74]:
def summarize(df, cat_cols= None, too_long= 50, show_all= False, q= 10):
    '''
    Takes in a DataFrame and provides a summary of whats going on

    Parameters:
    ------------
    a Dataframe :
    
    cat_cols= None  : if you have them, otherwise they will be taken from object column types
    
    show_all= False :  if set to true:
                       it will print out the longest of the 
                       long markdown dataframes...BEWARE
    
    too_long= 50    : how many rows are too many rows in column.value_counts()??
    
    q = 10          : how many quartiles should numerical data be divided into?

    no return: just prints the:
    --------------
    df.head()
    df.info()
    df.describe()
    
    Null Values:
        By Column:
        By Row:

    df[each_separate_column].value_counts()
        Note: The object variables are not binned, the numerical variables are
        v1.1 -- Now you can control how much is displayed in long Markdown
    '''
#     print('test')
    display(Markdown(
    f'''
    DataFrame .head():
    -----------------
{df.head().to_markdown()}
    
    DataFrame .info():
    -----------------\n'''))
    print(df.info())
    display(Markdown(f'''\n    
    DataFrame .describe():
    -----------------
{df.describe().to_markdown()}
    
    Null Value Assessments:
    -----------------
        
        Nulls By Column:
{nulls_by_col(df).to_markdown()}
    -----------------
        
        Nulls By Row:
{nulls_by_row(df).to_markdown()}
    
    DataFrame .value_counts():
    -----------------
    
    '''))
    column_value_counts(df= df,
                        cat_cols= cat_cols, 
                        too_long= too_long, 
                        show_all= show_all, 
                        q=q
                       )

In [75]:
def column_value_counts(df, cat_cols=None, too_long=50, show_all=False, q= 10):
    
    if cat_cols == None:
        num_cols = [col for col in df.columns if df[col].dtype != 'O']
        cat_cols = [col for col in df.columns if col not in num_cols]

    for col in df.columns:
        
        print('Column Name: ', col,'\n--------------')
        
        if col in cat_cols:
            print_this = df[col].value_counts(dropna=False)
            
            print('Categorical:\n - ', len(print_this), 'Categories')
            
            if (len(print_this) < too_long) | (show_all == True):
                
                display(Markdown(print_this.to_markdown()))
            
            else:
                print('\n',print_this)
            
            print('\n\n-------------')
        else: 
            print_this = df[col].value_counts(bins= q, sort=False, dropna=False)
            
            print('Numerical: Divided by Quartile\n - ', len(print_this), 'bins')
            
            if (len(print_this) < too_long) | (show_all == True):
                
                display(Markdown(print_this.to_markdown()))
            
            else:
                print(print_this)
                
            print('\n\n-------------')
    print('-----------------\n---End of Line---')

In [71]:
column_value_counts(df, show_all=False, too_long=62)

Column Name:  id
--------------
Numerical: Divided by Quartile
 -  10 bins

|                    |   id |
|:-------------------|-----:|
| (-77.613, 7761.2]  | 7640 |
| (7761.2, 15522.4]  | 7626 |
| (15522.4, 23283.6] | 7632 |
| (23283.6, 31044.8] | 7642 |
| (31044.8, 38806.0] | 7636 |
| (38806.0, 46567.2] | 7661 |
| (46567.2, 54328.4] | 7673 |
| (54328.4, 62089.6] | 7671 |
| (62089.6, 69850.8] | 7673 |
| (69850.8, 77612.0] | 7667 |

-------------
Column Name:  parcel
--------------
Numerical: Divided by Quartile
 -  10 bins

|                            |   parcel |
|:---------------------------|---------:|
| (10554878.322, 26409522.7] |    76494 |
| (26409522.7, 42107190.4]   |        0 |
| (42107190.4, 57804858.1]   |        0 |
| (57804858.1, 73502525.8]   |        0 |
| (73502525.8, 89200193.5]   |        1 |
| (89200193.5, 104897861.2]  |        1 |
| (104897861.2, 120595528.9] |        0 |
| (120595528.9, 136293196.6] |        0 |
| (136293196.6, 151990864.3] |        0 |
| (151990864.3, 167688532.0] |       25 |

-------------
Column Name:  logerror
--------------
Numerical: Divided by Quartile
 -  10 bins

|                  |   logerror |
|:-----------------|-----------:|
| (-4.666, -3.664] |          3 |
| (-3.664, -2.672] |          1 |
| (-2.672, -1.68]  |         36 |
| (-1.68, -0.688]  |        135 |
| (-0.688, 0.304]  |      74544 |
| (0.304, 1.296]   |       1637 |
| (1.296, 2.287]   |         95 |
| (2.287, 3.279]   |         68 |
| (3.279, 4.271]   |          1 |
| (4.271, 5.263]   |          1 |

-------------
Column Name:  trans_date
--------------
Numerical: Divided by Quartile
 -  10 bins

|                                                      |   trans_date |
|:-----------------------------------------------------|-------------:|
| (2016-12-31 17:35:31.199999999, 2017-01-27 16:48:00] |         6049 |
| (2017-01-27 16:48:00, 2017-02-23 09:36:00]           |         5772 |
| (2017-02-23 09:36:00, 2017-03-22 02:24:00]           |         7140 |
| (2017-03-22 02:24:00, 2017-04-17 19:12:00]           |         7717 |
| (2017-04-17 19:12:00, 2017-05-14 12:00:00]           |         8637 |
| (2017-05-14 12:00:00, 2017-06-10 04:48:00]           |         9211 |
| (2017-06-10 04:48:00, 2017-07-06 21:36:00]           |         9200 |
| (2017-07-06 21:36:00, 2017-08-02 14:24:00]           |         8679 |
| (2017-08-02 14:24:00, 2017-08-29 07:12:00]           |         8063 |
| (2017-08-29 07:12:00, 2017-09-25]                    |         6053 |

-------------
Column Name:  ac_type
--------------
Categorical:
 -  6 Categories

|               |   ac_type |
|:--------------|----------:|
|               |     51738 |
| Central       |     22969 |
| Yes           |      1568 |
| None          |       167 |
| Wall Unit     |        53 |
| Refrigeration |        26 |

-------------
Column Name:  arch_type
--------------
Categorical:
 -  6 Categories

|               |   arch_type |
|:--------------|------------:|
|               |       76315 |
| Contemporary  |         172 |
| Conventional  |          19 |
| Ranch/Rambler |           7 |
| Bungalow      |           5 |
| Cape Cod      |           3 |

-------------
Column Name:  build_type
--------------
Categorical:
 -  1 Categories

|    |   build_type |
|:---|-------------:|
|    |        76521 |

-------------
Column Name:  heat_type
--------------
Categorical:
 -  11 Categories

|            |   heat_type |
|:-----------|------------:|
| Central    |       33353 |
|            |       27336 |
| Floor/Wall |       14008 |
| Yes        |         846 |
| Forced air |         775 |
| Solar      |         104 |
| None       |          59 |
| Radiant    |          23 |
| Baseboard  |          13 |
| Gravity    |           3 |
| Heat Pump  |           1 |

-------------
Column Name:  land_use_type
--------------
Categorical:
 -  12 Categories

|                                            |   land_use_type |
|:-------------------------------------------|----------------:|
| Single Family Residential                  |           52160 |
| Condominium                                |           19006 |
| Planned Unit Development                   |            1940 |
| Duplex (2 Units, Any Combination)          |            1843 |
| Quadruplex (4 Units, Any Combination)      |             615 |
| Triplex (3 Units, Any Combination)         |             485 |
| Cluster Home                               |             333 |
| Mobile Home                                |              59 |
| Manufactured, Modular, Prefabricated Homes |              35 |
| Cooperative                                |              29 |
| Residential General                        |              10 |
| Townhouse                                  |               6 |

-------------
Column Name:  story_type
--------------
Categorical:
 -  2 Categories

|          |   story_type |
|:---------|-------------:|
|          |        76471 |
| Basement |           50 |

-------------
Column Name:  construction_type
--------------
Categorical:
 -  5 Categories

|          |   construction_type |
|:---------|--------------------:|
|          |               76299 |
| Frame    |                 219 |
| Masonry  |                   1 |
| Metal    |                   1 |
| Concrete |                   1 |

-------------
Column Name:  basementsqft
--------------
Numerical: Divided by Quartile
 -  10 bins

|                             |   basementsqft |
|:----------------------------|---------------:|
| (34.477000000000004, 390.2] |             20 |
| (390.2, 742.4]              |             16 |
| (742.4, 1094.6]             |              7 |
| (1094.6, 1446.8]            |              3 |
| (1446.8, 1799.0]            |              0 |
| (1799.0, 2151.2]            |              2 |
| (2151.2, 2503.4]            |              0 |
| (2503.4, 2855.6]            |              0 |
| (2855.6, 3207.8]            |              1 |
| (3207.8, 3560.0]            |              1 |

-------------
Column Name:  bathrooms
--------------
Numerical: Divided by Quartile
 -  10 bins

|              |   bathrooms |
|:-------------|------------:|
| (0.982, 2.7] |       52153 |
| (2.7, 4.4]   |       21686 |
| (4.4, 6.1]   |        2360 |
| (6.1, 7.8]   |         176 |
| (7.8, 9.5]   |         134 |
| (9.5, 11.2]  |          10 |
| (11.2, 12.9] |           0 |
| (12.9, 14.6] |           1 |
| (14.6, 16.3] |           0 |
| (16.3, 18.0] |           1 |

-------------
Column Name:  bedrooms
--------------
Numerical: Divided by Quartile
 -  10 bins

|              |   bedrooms |
|:-------------|-----------:|
| (0.984, 2.5] |      22534 |
| (2.5, 4.0]   |      47860 |
| (4.0, 5.5]   |       4542 |
| (5.5, 7.0]   |       1206 |
| (7.0, 8.5]   |        252 |
| (8.5, 10.0]  |        101 |
| (10.0, 11.5] |          8 |
| (11.5, 13.0] |         16 |
| (13.0, 14.5] |          1 |
| (14.5, 16.0] |          1 |

-------------
Column Name:  quality_type
--------------
Numerical: Divided by Quartile
 -  10 bins

|              |   quality_type |
|:-------------|---------------:|
| (0.988, 2.1] |             32 |
| (2.1, 3.2]   |            322 |
| (3.2, 4.3]   |           9443 |
| (4.3, 5.4]   |           2071 |
| (5.4, 6.5]   |          13421 |
| (6.5, 7.6]   |           5923 |
| (7.6, 8.7]   |          14582 |
| (8.7, 9.8]   |           2277 |
| (9.8, 10.9]  |            308 |
| (10.9, 12.0] |           1043 |

-------------
Column Name:  calc_bath_n_bed
--------------
Numerical: Divided by Quartile
 -  10 bins

|              |   calc_bath_n_bed |
|:-------------|------------------:|
| (0.982, 2.7] |             52138 |
| (2.7, 4.4]   |             21686 |
| (4.4, 6.1]   |              2359 |
| (6.1, 7.8]   |               176 |
| (7.8, 9.5]   |               134 |
| (9.5, 11.2]  |                10 |
| (11.2, 12.9] |                 0 |
| (12.9, 14.6] |                 1 |
| (14.6, 16.3] |                 0 |
| (16.3, 18.0] |                 1 |

-------------
Column Name:  deck_type
--------------
Numerical: Divided by Quartile
 -  10 bins

|                             |   deck_type |
|:----------------------------|------------:|
| (65.93299999999999, 65.947] |           0 |
| (65.947, 65.96]             |           0 |
| (65.96, 65.974]             |           0 |
| (65.974, 65.987]            |           0 |
| (65.987, 66.0]              |         612 |
| (66.0, 66.013]              |           0 |
| (66.013, 66.026]            |           0 |
| (66.026, 66.04]             |           0 |
| (66.04, 66.053]             |           0 |
| (66.053, 66.066]            |           0 |

-------------
Column Name:  floor_1_sqft
--------------
Numerical: Divided by Quartile
 -  10 bins

|                  |   floor_1_sqft |
|:-----------------|---------------:|
| (37.131, 730.8]  |            701 |
| (730.8, 1417.6]  |           3019 |
| (1417.6, 2104.4] |           1730 |
| (2104.4, 2791.2] |            335 |
| (2791.2, 3478.0] |            132 |
| (3478.0, 4164.8] |             42 |
| (4164.8, 4851.6] |             25 |
| (4851.6, 5538.4] |             12 |
| (5538.4, 6225.2] |              6 |
| (6225.2, 6912.0] |              4 |

-------------
Column Name:  tot_sqft
--------------
Numerical: Divided by Quartile
 -  10 bins

|                    |   tot_sqft |
|:-------------------|-----------:|
| (130.222, 2329.7]  |      61531 |
| (2329.7, 4507.4]   |      13630 |
| (4507.4, 6685.1]   |       1132 |
| (6685.1, 8862.8]   |        165 |
| (8862.8, 11040.5]  |         44 |
| (11040.5, 13218.2] |         12 |
| (13218.2, 15395.9] |          2 |
| (15395.9, 17573.6] |          2 |
| (17573.6, 19751.3] |          1 |
| (19751.3, 21929.0] |          2 |

-------------
Column Name:  sqft_12
--------------
Numerical: Divided by Quartile
 -  10 bins

|                    |   sqft_12 |
|:-------------------|----------:|
| (130.222, 2329.7]  |     59610 |
| (2329.7, 4507.4]   |     12521 |
| (4507.4, 6685.1]   |      1037 |
| (6685.1, 8862.8]   |       159 |
| (8862.8, 11040.5]  |        44 |
| (11040.5, 13218.2] |        12 |
| (13218.2, 15395.9] |         2 |
| (15395.9, 17573.6] |         2 |
| (17573.6, 19751.3] |         1 |
| (19751.3, 21929.0] |         2 |

-------------
Column Name:  sqft_13
--------------
Numerical: Divided by Quartile
 -  10 bins

|                              |   sqft_13 |
|:-----------------------------|----------:|
| (1055.4950000000001, 1106.4] |         1 |
| (1106.4, 1156.8]             |         2 |
| (1156.8, 1207.2]             |         1 |
| (1207.2, 1257.6]             |         2 |
| (1257.6, 1308.0]             |         0 |
| (1308.0, 1358.4]             |         4 |
| (1358.4, 1408.8]             |         2 |
| (1408.8, 1459.2]             |         9 |
| (1459.2, 1509.6]             |         2 |
| (1509.6, 1560.0]             |         3 |

-------------
Column Name:  sqft_15
--------------
Numerical: Divided by Quartile
 -  10 bins

|                   |   sqft_15 |
|:------------------|----------:|
| (590.607, 1337.2] |       253 |
| (1337.2, 2076.4]  |      1182 |
| (2076.4, 2815.6]  |       740 |
| (2815.6, 3554.8]  |       377 |
| (3554.8, 4294.0]  |       232 |
| (4294.0, 5033.2]  |       100 |
| (5033.2, 5772.4]  |        32 |
| (5772.4, 6511.6]  |         5 |
| (6511.6, 7250.8]  |         4 |
| (7250.8, 7990.0]  |         2 |

-------------
Column Name:  sqft_50
--------------
Numerical: Divided by Quartile
 -  10 bins

|                    |   sqft_50 |
|:-------------------|----------:|
| (31.576, 1286.3]   |      3132 |
| (1286.3, 2528.6]   |      2548 |
| (2528.6, 3770.9]   |       237 |
| (3770.9, 5013.2]   |        61 |
| (5013.2, 6255.5]   |        17 |
| (6255.5, 7497.8]   |         7 |
| (7497.8, 8740.1]   |         2 |
| (8740.1, 9982.4]   |         1 |
| (9982.4, 11224.7]  |         0 |
| (11224.7, 12467.0] |         1 |

-------------
Column Name:  sqft_6
--------------
Numerical: Divided by Quartile
 -  10 bins

|                  |   sqft_6 |
|:-----------------|---------:|
| (374.781, 901.8] |       61 |
| (901.8, 1423.6]  |       80 |
| (1423.6, 1945.4] |       15 |
| (1945.4, 2467.2] |        8 |
| (2467.2, 2989.0] |        4 |
| (2989.0, 3510.8] |        3 |
| (3510.8, 4032.6] |        3 |
| (4032.6, 4554.4] |        3 |
| (4554.4, 5076.2] |        0 |
| (5076.2, 5598.0] |        1 |

-------------
Column Name:  fips
--------------
Categorical:
 -  3 Categories

|                    |   fips |
|:-------------------|-------:|
| Los Angeles County |  50135 |
| Orange County      |  20276 |
| Ventura County     |   6110 |

-------------
Column Name:  fireplaces
--------------
Numerical: Divided by Quartile
 -  10 bins

|              |   fireplaces |
|:-------------|-------------:|
| (0.995, 1.4] |         6990 |
| (1.4, 1.8]   |            0 |
| (1.8, 2.2]   |          988 |
| (2.2, 2.6]   |            0 |
| (2.6, 3.0]   |          232 |
| (3.0, 3.4]   |            0 |
| (3.4, 3.8]   |            0 |
| (3.8, 4.2]   |           34 |
| (4.2, 4.6]   |            0 |
| (4.6, 5.0]   |            3 |

-------------
Column Name:  full_baths
--------------
Numerical: Divided by Quartile
 -  10 bins

|              |   full_baths |
|:-------------|-------------:|
| (0.982, 2.7] |        52155 |
| (2.7, 4.4]   |        22385 |
| (4.4, 6.1]   |         1698 |
| (6.1, 7.8]   |          121 |
| (7.8, 9.5]   |          134 |
| (9.5, 11.2]  |           10 |
| (11.2, 12.9] |            0 |
| (12.9, 14.6] |            1 |
| (14.6, 16.3] |            0 |
| (16.3, 18.0] |            1 |

-------------
Column Name:  garages
--------------
Numerical: Divided by Quartile
 -  10 bins

|               |   garages |
|:--------------|----------:|
| (-0.015, 1.4] |      5736 |
| (1.4, 2.8]    |     18593 |
| (2.8, 4.2]    |       885 |
| (4.2, 5.6]    |        45 |
| (5.6, 7.0]    |        18 |
| (7.0, 8.4]    |         2 |
| (8.4, 9.8]    |         2 |
| (9.8, 11.2]   |         4 |
| (11.2, 12.6]  |         0 |
| (12.6, 14.0]  |         2 |

-------------
Column Name:  garage_sqft
--------------
Numerical: Divided by Quartile
 -  10 bins

|                             |   garage_sqft |
|:----------------------------|--------------:|
| (-4.252000000000001, 425.1] |         11763 |
| (425.1, 850.2]              |         13148 |
| (850.2, 1275.3]             |           322 |
| (1275.3, 1700.4]            |            38 |
| (1700.4, 2125.5]            |             6 |
| (2125.5, 2550.6]            |             2 |
| (2550.6, 2975.7]            |             4 |
| (2975.7, 3400.8]            |             2 |
| (3400.8, 3825.9]            |             1 |
| (3825.9, 4251.0]            |             1 |

-------------
Column Name:  hot_tub
--------------
Numerical: Divided by Quartile
 -  10 bins

|                  |   hot_tub |
|:-----------------|----------:|
| (0.9989, 0.9992] |         0 |
| (0.9992, 0.9994] |         0 |
| (0.9994, 0.9996] |         0 |
| (0.9996, 0.9998] |         0 |
| (0.9998, 1.0]    |      1538 |
| (1.0, 1.0002]    |         0 |
| (1.0002, 1.0004] |         0 |
| (1.0004, 1.0006] |         0 |
| (1.0006, 1.0008] |         0 |
| (1.0008, 1.001]  |         0 |

-------------
Column Name:  lat
--------------
Numerical: Divided by Quartile
 -  10 bins

|                                  |   lat |
|:---------------------------------|------:|
| (33338047.759000003, 33487451.0] |  1000 |
| (33487451.0, 33635375.0]         |  5254 |
| (33635375.0, 33783299.0]         |  9870 |
| (33783299.0, 33931223.0]         | 14658 |
| (33931223.0, 34079147.0]         | 14031 |
| (34079147.0, 34227071.0]         | 18723 |
| (34227071.0, 34374995.0]         |  6208 |
| (34374995.0, 34522919.0]         |  3128 |
| (34522919.0, 34670843.0]         |  2318 |
| (34670843.0, 34818767.0]         |  1331 |

-------------
Column Name:  lon
--------------
Numerical: Divided by Quartile
 -  10 bins

|                                |   lon |
|:-------------------------------|------:|
| (-119477336.781, -119283338.0] |   211 |
| (-119283338.0, -119091260.0]   |  1940 |
| (-119091260.0, -118899182.0]   |  1445 |
| (-118899182.0, -118707104.0]   |  2644 |
| (-118707104.0, -118515026.0]   |  5911 |
| (-118515026.0, -118322948.0]   | 15282 |
| (-118322948.0, -118130870.0]   | 15150 |
| (-118130870.0, -117938792.0]   | 14116 |
| (-117938792.0, -117746714.0]   | 12500 |
| (-117746714.0, -117554636.0]   |  7322 |

-------------
Column Name:  lot_sqft
--------------
Numerical: Divided by Quartile
 -  10 bins

|                                |   lot_sqft |
|:-------------------------------|-----------:|
| (-6734.775000000001, 697313.4] |      68112 |
| (697313.4, 1394390.8]          |        221 |
| (1394390.8, 2091468.2]         |         38 |
| (2091468.2, 2788545.6]         |          2 |
| (2788545.6, 3485623.0]         |          1 |
| (3485623.0, 4182700.4]         |          9 |
| (4182700.4, 4879777.8]         |          0 |
| (4879777.8, 5576855.2]         |          0 |
| (5576855.2, 6273932.6]         |          0 |
| (6273932.6, 6971010.0]         |          7 |

-------------
Column Name:  pools
--------------
Numerical: Divided by Quartile
 -  10 bins

|                  |   pools |
|:-----------------|--------:|
| (0.9989, 0.9992] |       0 |
| (0.9992, 0.9994] |       0 |
| (0.9994, 0.9996] |       0 |
| (0.9996, 0.9998] |       0 |
| (0.9998, 1.0]    |   16048 |
| (1.0, 1.0002]    |       0 |
| (1.0002, 1.0004] |       0 |
| (1.0004, 1.0006] |       0 |
| (1.0006, 1.0008] |       0 |
| (1.0008, 1.001]  |       0 |

-------------
Column Name:  pool_sqft
--------------
Numerical: Divided by Quartile
 -  10 bins

|                  |   pool_sqft |
|:-----------------|------------:|
| (22.523, 171.6]  |           6 |
| (171.6, 319.2]   |          47 |
| (319.2, 466.8]   |         321 |
| (466.8, 614.4]   |         305 |
| (614.4, 762.0]   |         121 |
| (762.0, 909.6]   |          48 |
| (909.6, 1057.2]  |           7 |
| (1057.2, 1204.8] |           5 |
| (1204.8, 1352.4] |           0 |
| (1352.4, 1500.0] |           2 |

-------------
Column Name:  pool_id10
--------------
Numerical: Divided by Quartile
 -  10 bins

|                  |   pool_id10 |
|:-----------------|------------:|
| (0.9989, 0.9992] |           0 |
| (0.9992, 0.9994] |           0 |
| (0.9994, 0.9996] |           0 |
| (0.9996, 0.9998] |           0 |
| (0.9998, 1.0]    |         464 |
| (1.0, 1.0002]    |           0 |
| (1.0002, 1.0004] |           0 |
| (1.0004, 1.0006] |           0 |
| (1.0006, 1.0008] |           0 |
| (1.0008, 1.001]  |           0 |

-------------
Column Name:  pool_id2
--------------
Numerical: Divided by Quartile
 -  10 bins

|                  |   pool_id2 |
|:-----------------|-----------:|
| (0.9989, 0.9992] |          0 |
| (0.9992, 0.9994] |          0 |
| (0.9994, 0.9996] |          0 |
| (0.9996, 0.9998] |          0 |
| (0.9998, 1.0]    |       1074 |
| (1.0, 1.0002]    |          0 |
| (1.0002, 1.0004] |          0 |
| (1.0004, 1.0006] |          0 |
| (1.0006, 1.0008] |          0 |
| (1.0008, 1.001]  |          0 |

-------------
Column Name:  pool_id7
--------------
Numerical: Divided by Quartile
 -  10 bins

|                  |   pool_id7 |
|:-----------------|-----------:|
| (0.9989, 0.9992] |          0 |
| (0.9992, 0.9994] |          0 |
| (0.9994, 0.9996] |          0 |
| (0.9996, 0.9998] |          0 |
| (0.9998, 1.0]    |      14953 |
| (1.0, 1.0002]    |          0 |
| (1.0002, 1.0004] |          0 |
| (1.0004, 1.0006] |          0 |
| (1.0006, 1.0008] |          0 |
| (1.0008, 1.001]  |          0 |

-------------
Column Name:  county_landuse
--------------
Categorical:
 -  61 Categories

|      |   county_landuse |
|:-----|-----------------:|
| 0100 |            26675 |
| 122  |            13011 |
| 010C |             8701 |
| 0101 |             6398 |
| 34   |             4888 |
| 1111 |             3347 |
| 1    |             2353 |
| 010D |             1940 |
| 010E |             1933 |
| 0200 |             1800 |
| 1129 |             1378 |
| 1110 |             1007 |
| 0400 |              606 |
| 0300 |              475 |
| 012C |              383 |
| 0104 |              367 |
| 1128 |              333 |
| 01DC |              211 |
| 01HC |              135 |
| 0103 |               91 |
| 010G |               75 |
| 0108 |               57 |
| 010H |               57 |
| 010M |               52 |
| 0700 |               50 |
| 1117 |               32 |
| 010F |               29 |
| 0201 |               23 |
| 38   |               13 |
| 010V |               10 |
| 01HE |                9 |
| 0109 |                8 |
| 135  |                8 |
| 1116 |                7 |
| 0110 |                6 |
| 0113 |                6 |
| 012E |                5 |
| 0141 |                4 |
| 0401 |                4 |
| 1120 |                3 |
| 96   |                3 |
| 0102 |                3 |
| 0105 |                3 |
| 1222 |                2 |
| 0111 |                2 |
| 0130 |                2 |
| 070D |                2 |
| 040G |                1 |
| 020M |                1 |
| 020G |                1 |
| 030G |                1 |
| 0203 |                1 |
| 0114 |                1 |
| 1112 |                1 |
| 012D |                1 |
| 040B |                1 |
| 0301 |                1 |
| 0133 |                1 |
| 0204 |                1 |
| 0131 |                1 |
| 020E |                1 |

-------------
Column Name:  zoning
--------------
Categorical:
 -  1894 Categories
None         26604
LAR1          6731
LAR3          2409
LARS          1389
LBR1N         1219
             ...
AHPRD10*         1
RBR4             1
HAC2YY           1
LCR17500         1
BFA15000*        1
Name: zoning, Length: 1894, dtype: int64


-------------
Column Name:  raw_tract_and_block
--------------
Numerical: Divided by Quartile
 -  10 bins

|                                    |   raw_tract_and_block |
|:-----------------------------------|----------------------:|
| (60370272.019999996, 60444919.091] |                 50135 |
| (60444919.091, 60518827.081]       |                     0 |
| (60518827.081, 60592735.071]       |                 20276 |
| (60592735.071, 60666643.061]       |                     0 |
| (60666643.061, 60740551.051]       |                     0 |
| (60740551.051, 60814459.041]       |                     0 |
| (60814459.041, 60888367.031]       |                     0 |
| (60888367.031, 60962275.021]       |                     0 |
| (60962275.021, 61036183.011]       |                     0 |
| (61036183.011, 61110091.001]       |                  6110 |

-------------
Column Name:  city_id
--------------
Numerical: Divided by Quartile
 -  10 bins

|                               |   city_id |
|:------------------------------|----------:|
| (3097.9339999999997, 42797.5] |     55080 |
| (42797.5, 82104.0]            |     17878 |
| (82104.0, 121410.5]           |      1046 |
| (121410.5, 160717.0]          |         0 |
| (160717.0, 200023.5]          |         0 |
| (200023.5, 239330.0]          |         0 |
| (239330.0, 278636.5]          |        24 |
| (278636.5, 317943.0]          |         0 |
| (317943.0, 357249.5]          |         0 |
| (357249.5, 396556.0]          |      1047 |

-------------
Column Name:  county_id
--------------
Numerical: Divided by Quartile
 -  10 bins

|                    |   county_id |
|:-------------------|------------:|
| (1284.184, 1467.5] |       20276 |
| (1467.5, 1649.0]   |           0 |
| (1649.0, 1830.5]   |           0 |
| (1830.5, 2012.0]   |           0 |
| (2012.0, 2193.5]   |        6110 |
| (2193.5, 2375.0]   |           0 |
| (2375.0, 2556.5]   |           0 |
| (2556.5, 2738.0]   |           0 |
| (2738.0, 2919.5]   |           0 |
| (2919.5, 3101.0]   |       50135 |

-------------
Column Name:  neighborhood
--------------
Numerical: Divided by Quartile
 -  10 bins

|                      |   neighborhood |
|:---------------------|---------------:|
| (6194.784, 82673.5]  |          11481 |
| (82673.5, 158395.0]  |           4543 |
| (158395.0, 234116.5] |             43 |
| (234116.5, 309838.0] |          11360 |
| (309838.0, 385559.5] |             72 |
| (385559.5, 461281.0] |           1898 |
| (461281.0, 537002.5] |              0 |
| (537002.5, 612724.0] |              0 |
| (612724.0, 688445.5] |             66 |
| (688445.5, 764167.0] |           1063 |

-------------
Column Name:  zip_code
--------------
Numerical: Divided by Quartile
 -  10 bins

|                       |   zip_code |
|:----------------------|-----------:|
| (95678.306, 126351.3] |      76465 |
| (126351.3, 156720.6]  |          0 |
| (156720.6, 187089.9]  |          0 |
| (187089.9, 217459.2]  |          0 |
| (217459.2, 247828.5]  |          0 |
| (247828.5, 278197.8]  |          0 |
| (278197.8, 308567.1]  |          0 |
| (308567.1, 338936.4]  |          0 |
| (338936.4, 369305.7]  |          0 |
| (369305.7, 399675.0]  |         12 |

-------------
Column Name:  num_rooms
--------------
Numerical: Divided by Quartile
 -  10 bins

|               |   num_rooms |
|:--------------|------------:|
| (-0.016, 1.5] |       58978 |
| (1.5, 3.0]    |         218 |
| (3.0, 4.5]    |        1413 |
| (4.5, 6.0]    |        7521 |
| (6.0, 7.5]    |        3834 |
| (7.5, 9.0]    |        4060 |
| (9.0, 10.5]   |         339 |
| (10.5, 12.0]  |         141 |
| (12.0, 13.5]  |          10 |
| (13.5, 15.0]  |           7 |

-------------
Column Name:  stories_type
--------------
Numerical: Divided by Quartile
 -  10 bins

|                |   stories_type |
|:---------------|---------------:|
| (6.992, 6.994] |              0 |
| (6.994, 6.996] |              0 |
| (6.996, 6.997] |              0 |
| (6.997, 6.999] |              0 |
| (6.999, 7.0]   |             50 |
| (7.0, 7.001]   |              0 |
| (7.001, 7.003] |              0 |
| (7.003, 7.004] |              0 |
| (7.004, 7.006] |              0 |
| (7.006, 7.007] |              0 |

-------------
Column Name:  three_quarter_baths
--------------
Numerical: Divided by Quartile
 -  10 bins

|              |   three_quarter_baths |
|:-------------|----------------------:|
| (0.993, 1.6] |                 10010 |
| (1.6, 2.2]   |                    75 |
| (2.2, 2.8]   |                     0 |
| (2.8, 3.4]   |                     8 |
| (3.4, 4.0]   |                     0 |
| (4.0, 4.6]   |                     0 |
| (4.6, 5.2]   |                     0 |
| (5.2, 5.8]   |                     0 |
| (5.8, 6.4]   |                     0 |
| (6.4, 7.0]   |                     1 |

-------------
Column Name:  units
--------------
Numerical: Divided by Quartile
 -  10 bins

|              |   units |
|:-------------|--------:|
| (0.994, 1.5] |   47035 |
| (1.5, 2.0]   |    1855 |
| (2.0, 2.5]   |       0 |
| (2.5, 3.0]   |     480 |
| (3.0, 3.5]   |       0 |
| (3.5, 4.0]   |     614 |
| (4.0, 4.5]   |       0 |
| (4.5, 5.0]   |       0 |
| (5.0, 5.5]   |       0 |
| (5.5, 6.0]   |       1 |

-------------
Column Name:  yard_sqft_17
--------------
Numerical: Divided by Quartile
 -  10 bins

|                  |   yard_sqft_17 |
|:-----------------|---------------:|
| (7.819, 329.0]   |           1629 |
| (329.0, 647.0]   |            603 |
| (647.0, 965.0]   |             94 |
| (965.0, 1283.0]  |             34 |
| (1283.0, 1601.0] |              9 |
| (1601.0, 1919.0] |              1 |
| (1919.0, 2237.0] |              2 |
| (2237.0, 2555.0] |              2 |
| (2555.0, 2873.0] |              1 |
| (2873.0, 3191.0] |              2 |

-------------
Column Name:  yard_sqft_26
--------------
Numerical: Divided by Quartile
 -  10 bins

|                |   yard_sqft_26 |
|:---------------|---------------:|
| (11.143, 97.6] |             24 |
| (97.6, 183.2]  |             14 |
| (183.2, 268.8] |             10 |
| (268.8, 354.4] |              7 |
| (354.4, 440.0] |              4 |
| (440.0, 525.6] |              6 |
| (525.6, 611.2] |              2 |
| (611.2, 696.8] |              1 |
| (696.8, 782.4] |              1 |
| (782.4, 868.0] |              1 |

-------------
Column Name:  year_built
--------------
Categorical:
 -  137 Categories
1955.0    1956
1989.0    1786
1950.0    1663
1964.0    1611
1954.0    1580
          ...
1866.0       1
1824.0       1
1882.0       1
1894.0       1
1880.0       1
Name: year_built, Length: 137, dtype: int64


-------------
Column Name:  num_stories
--------------
Numerical: Divided by Quartile
 -  10 bins

|              |   num_stories |
|:-------------|--------------:|
| (0.994, 1.5] |         10328 |
| (1.5, 2.0]   |          6572 |
| (2.0, 2.5]   |             0 |
| (2.5, 3.0]   |           435 |
| (3.0, 3.5]   |             0 |
| (3.5, 4.0]   |             0 |
| (4.0, 4.5]   |             0 |
| (4.5, 5.0]   |             0 |
| (5.0, 5.5]   |             0 |
| (5.5, 6.0]   |             1 |

-------------
Column Name:  fireplace_flag
--------------
Numerical: Divided by Quartile
 -  10 bins

|                  |   fireplace_flag |
|:-----------------|-----------------:|
| (0.9989, 0.9992] |                0 |
| (0.9992, 0.9994] |                0 |
| (0.9994, 0.9996] |                0 |
| (0.9996, 0.9998] |                0 |
| (0.9998, 1.0]    |              172 |
| (1.0, 1.0002]    |                0 |
| (1.0002, 1.0004] |                0 |
| (1.0004, 1.0006] |                0 |
| (1.0006, 1.0008] |                0 |
| (1.0008, 1.001]  |                0 |

-------------
Column Name:  building_tax_value
--------------
Numerical: Divided by Quartile
 -  10 bins

|                        |   building_tax_value |
|:-----------------------|---------------------:|
| (-9120.858, 916529.7]  |                75431 |
| (916529.7, 1833015.4]  |                  834 |
| (1833015.4, 2749501.1] |                  109 |
| (2749501.1, 3665986.8] |                   38 |
| (3665986.8, 4582472.5] |                    9 |
| (4582472.5, 5498958.2] |                    7 |
| (5498958.2, 6415443.9] |                    2 |
| (6415443.9, 7331929.6] |                    2 |
| (7331929.6, 8248415.3] |                    4 |
| (8248415.3, 9164901.0] |                    1 |

-------------
Column Name:  tax_value
--------------
Numerical: Divided by Quartile
 -  10 bins

|                                  |   tax_value |
|:---------------------------------|------------:|
| (-48060.236999999994, 4907023.6] |       76311 |
| (4907023.6, 9813047.2]           |         172 |
| (9813047.2, 14719070.8]          |          24 |
| (14719070.8, 19625094.4]         |           8 |
| (19625094.4, 24531118.0]         |           4 |
| (24531118.0, 29437141.6]         |           1 |
| (29437141.6, 34343165.2]         |           0 |
| (34343165.2, 39249188.8]         |           0 |
| (39249188.8, 44155212.4]         |           0 |
| (44155212.4, 49061236.0]         |           1 |

-------------
Column Name:  year_assesed
--------------
Numerical: Divided by Quartile
 -  10 bins

|                      |   year_assesed |
|:---------------------|---------------:|
| (2013.983, 2014.387] |              0 |
| (2014.387, 2014.79]  |              0 |
| (2014.79, 2015.194]  |              0 |
| (2015.194, 2015.597] |              0 |
| (2015.597, 2016.0]   |          76521 |
| (2016.0, 2016.403]   |              0 |
| (2016.403, 2016.806] |              0 |
| (2016.806, 2017.21]  |              0 |
| (2017.21, 2017.613]  |              0 |
| (2017.613, 2018.016] |              0 |

-------------
Column Name:  land_tax_value
--------------
Numerical: Divided by Quartile
 -  10 bins

|                                 |   land_tax_value |
|:--------------------------------|-----------------:|
| (-48791.03799999999, 4895364.7] |            76414 |
| (4895364.7, 9790568.4]          |               86 |
| (9790568.4, 14685772.1]         |               14 |
| (14685772.1, 19580975.8]        |                5 |
| (19580975.8, 24476179.5]        |                1 |
| (24476179.5, 29371383.2]        |                0 |
| (29371383.2, 34266586.9]        |                0 |
| (34266586.9, 39161790.6]        |                0 |
| (39161790.6, 44056994.3]        |                0 |
| (44056994.3, 48952198.0]        |                1 |

-------------
Column Name:  tax_amount
--------------
Numerical: Divided by Quartile
 -  10 bins

|                                 |   tax_amount |
|:--------------------------------|-------------:|
| (-566.6999999999999, 58681.858] |        76315 |
| (58681.858, 117343.796]         |          167 |
| (117343.796, 176005.734]        |           20 |
| (176005.734, 234667.672]        |            9 |
| (234667.672, 293329.61]         |            4 |
| (293329.61, 351991.548]         |            0 |
| (351991.548, 410653.486]        |            0 |
| (410653.486, 469315.424]        |            0 |
| (469315.424, 527977.362]        |            0 |
| (527977.362, 586639.3]          |            1 |

-------------
Column Name:  tax_delinquency_flag
--------------
Categorical:
 -  2 Categories

|    |   tax_delinquency_flag |
|:---|-----------------------:|
|    |                  73669 |
| Y  |                   2852 |

-------------
Column Name:  tax_delinquency_year
--------------
Numerical: Divided by Quartile
 -  10 bins

|               |   tax_delinquency_year |
|:--------------|-----------------------:|
| (2.903, 12.6] |                    348 |
| (12.6, 22.2]  |                   2503 |
| (22.2, 31.8]  |                      0 |
| (31.8, 41.4]  |                      0 |
| (41.4, 51.0]  |                      0 |
| (51.0, 60.6]  |                      0 |
| (60.6, 70.2]  |                      0 |
| (70.2, 79.8]  |                      0 |
| (79.8, 89.4]  |                      0 |
| (89.4, 99.0]  |                      1 |

-------------
Column Name:  tract_and_block
--------------
Numerical: Divided by Quartile
 -  10 bins

|                                         |   tract_and_block |
|:----------------------------------------|------------------:|
| (59948352007016.984, 102636920499301.5] |             76300 |
| (102636920499301.5, 144902829897603.0]  |                 0 |
| (144902829897603.0, 187168739295904.5]  |                 0 |
| (187168739295904.5, 229434648694206.03] |                 0 |
| (229434648694206.03, 271700558092507.5] |                 0 |
| (271700558092507.5, 313966467490809.0]  |                 0 |
| (313966467490809.0, 356232376889110.5]  |                 0 |
| (356232376889110.5, 398498286287411.94] |                 0 |
| (398498286287411.94, 440764195685713.5] |                 0 |
| (440764195685713.5, 483030105084015.0]  |                 1 |

-------------
-----------------
---End of Line---

In [77]:
summarize(df, too_long= 15, q=5)

    DataFrame .head():
    -----------------
|    |   id |   parcel |    logerror | trans_date          | ac_type   | arch_type   | build_type   | heat_type   | land_use_type             | story_type   | construction_type   |   basementsqft |   bathrooms |   bedrooms |   quality_type |   calc_bath_n_bed |   deck_type |   floor_1_sqft |   tot_sqft |   sqft_12 |   sqft_13 |   sqft_15 |   sqft_50 |   sqft_6 | fips               |   fireplaces |   full_baths |   garages |   garage_sqft |   hot_tub |         lat |          lon |   lot_sqft |   pools |   pool_sqft |   pool_id10 |   pool_id2 |   pool_id7 | county_landuse   | zoning     |   raw_tract_and_block |   city_id |   county_id |   neighborhood |   zip_code |   num_rooms |   stories_type |   three_quarter_baths |   units |   yard_sqft_17 |   yard_sqft_26 |   year_built |   num_stories |   fireplace_flag |   building_tax_value |        tax_value |   year_assesed |   land_tax_value |   tax_amount | tax_delinquency_flag   |   tax_delinquency_year |   tract_and_block |
|---:|-----:|---------:|------------:|:--------------------|:----------|:------------|:-------------|:------------|:--------------------------|:-------------|:--------------------|---------------:|------------:|-----------:|---------------:|------------------:|------------:|---------------:|-----------:|----------:|----------:|----------:|----------:|---------:|:-------------------|-------------:|-------------:|----------:|--------------:|----------:|------------:|-------------:|-----------:|--------:|------------:|------------:|-----------:|-----------:|:-----------------|:-----------|----------------------:|----------:|------------:|---------------:|-----------:|------------:|---------------:|----------------------:|--------:|---------------:|---------------:|-------------:|--------------:|-----------------:|---------------------:|-----------------:|---------------:|-----------------:|-------------:|:-----------------------|-----------------------:|------------------:|
|  0 |    0 | 14297519 |  0.0255949  | 2017-01-01 00:00:00 |           |             |              |             | Single Family Residential |              |                     |            nan |         3.5 |          4 |            nan |               3.5 |         nan |            nan |       3100 |      3100 |       nan |       nan |       nan |      nan | Orange County      |          nan |            3 |         2 |           633 |       nan | 3.36349e+07 | -1.17869e+08 |       4506 |     nan |         nan |         nan |        nan |        nan | 122              |            |           6.05906e+07 |     53571 |        1286 |            nan |      96978 |           0 |            nan |                     1 |     nan |            nan |            nan |         1998 |           nan |              nan |               485713 |      1.02328e+06 |           2016 |           537569 |     11013.7  |                        |                    nan |       6.05906e+13 |
|  1 |    1 | 17052889 |  0.0556191  | 2017-01-01 00:00:00 |           |             |              |             | Single Family Residential |              |                     |            nan |         1   |          2 |            nan |               1   |         nan |           1465 |       1465 |      1465 |       nan |       nan |      1465 |      nan | Ventura County     |            1 |            1 |         1 |             0 |       nan | 3.44493e+07 | -1.19282e+08 |      12647 |     nan |         nan |         nan |        nan |        nan | 1110             |            |           6.111e+07   |     13091 |        2061 |            nan |      97099 |           5 |            nan |                   nan |     nan |            nan |            nan |         1967 |             1 |              nan |                88000 | 464000           |           2016 |           376000 |      5672.48 |                        |                    nan |       6.111e+13   |
|  2 |    2 | 14186244 |  0.00538285 | 2017-01-01 00:00:00 |           |             |              |             | Single Family Residential |              |                     |            nan |         2   |          3 |            nan |               2   |         nan |            nan |       1243 |      1243 |       nan |       nan |       nan |      nan | Orange County      |          nan |            2 |         2 |           440 |       nan | 3.38862e+07 | -1.17823e+08 |       8432 |       1 |         nan |         nan |        nan |          1 | 122              |            |           6.05902e+07 |     21412 |        1286 |            nan |      97078 |           6 |            nan |                   nan |     nan |            nan |            nan |         1962 |             1 |              nan |                85289 | 564778           |           2016 |           479489 |      6488.3  |                        |                    nan |       6.05902e+13 |
|  3 |    3 | 12177905 | -0.10341    | 2017-01-01 00:00:00 |           |             |              | Central     | Single Family Residential |              |                     |            nan |         3   |          4 |              8 |               3   |         nan |            nan |       2376 |      2376 |       nan |       nan |       nan |      nan | Los Angeles County |          nan |            3 |       nan |           nan |       nan | 3.42452e+07 | -1.18241e+08 |      13038 |       1 |         nan |         nan |        nan |          1 | 0101             | LCR110000* |           6.0373e+07  |    396551 |        3101 |            nan |      96330 |           0 |            nan |                   nan |       1 |            nan |            nan |         1970 |           nan |              nan |               108918 | 145143           |           2016 |            36225 |      1777.51 |                        |                    nan |       6.0373e+13  |
|  4 |    4 | 10887214 |  0.00694036 | 2017-01-01 00:00:00 | Central   |             |              | Central     | Condominium               |              |                     |            nan |         3   |          3 |              8 |               3   |         nan |            nan |       1312 |      1312 |       nan |       nan |       nan |      nan | Los Angeles County |          nan |            3 |       nan |           nan |       nan | 3.41851e+07 | -1.18415e+08 |     278581 |       1 |         nan |         nan |        nan |          1 | 010C             | LAR3       |           6.03712e+07 |     12447 |        3101 |         268548 |      96451 |           0 |            nan |                   nan |       1 |            nan |            nan |         1964 |           nan |              nan |                73681 | 119407           |           2016 |            45726 |      1533.89 |                        |                    nan |       6.03712e+13 |

    DataFrame .info():
    -----------------

<class 'pandas.core.frame.DataFrame'>
Int64Index: 76521 entries, 0 to 76711
Data columns (total 62 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    76521 non-null  int64
 1   parcel                76521 non-null  int64
 2   logerror              76521 non-null  float64
 3   trans_date            76521 non-null  datetime64[ns]
 4   ac_type               24783 non-null  object
 5   arch_type             206 non-null    object
 6   build_type            0 non-null      object
 7   heat_type             49185 non-null  object
 8   land_use_type         76521 non-null  object
 9   story_type            50 non-null     object
 10  construction_type     222 non-null    object
 11  basementsqft          50 non-null     float64
 12  bathrooms             76521 non-null  float64
 13  bedrooms              76521 non-null  float64
 14  quality_type          49422 non-null  float64
 15  calc_bath_n_bed       76505 non-null  float64
 16  deck_type             612 non-null    float64
 17  floor_1_sqft          6006 non-null   float64
 18  tot_sqft              76521 non-null  float64
 19  sqft_12               73390 non-null  float64
 20  sqft_13               26 non-null     float64
 21  sqft_15               2927 non-null   float64
 22  sqft_50               6006 non-null   float64
 23  sqft_6                178 non-null    float64
 24  fips                  76521 non-null  object
 25  fireplaces            8247 non-null   float64
 26  full_baths            76505 non-null  float64
 27  garages               25287 non-null  float64
 28  garage_sqft           25287 non-null  float64
 29  hot_tub               1538 non-null   float64
 30  lat                   76521 non-null  float64
 31  lon                   76521 non-null  float64
 32  lot_sqft              68390 non-null  float64
 33  pools                 16048 non-null  float64
 34  pool_sqft             862 non-null    float64
 35  pool_id10             464 non-null    float64
 36  pool_id2              1074 non-null   float64
 37  pool_id7              14953 non-null  float64
 38  county_landuse        76521 non-null  object
 39  zoning                49917 non-null  object
 40  raw_tract_and_block   76521 non-null  float64
 41  city_id               75075 non-null  float64
 42  county_id             76521 non-null  float64
 43  neighborhood          30526 non-null  float64
 44  zip_code              76477 non-null  float64
 45  num_rooms             76521 non-null  float64
 46  stories_type          50 non-null     float64
 47  three_quarter_baths   10094 non-null  float64
 48  units                 49985 non-null  float64
 49  yard_sqft_17          2377 non-null   float64
 50  yard_sqft_26          70 non-null     float64
 51  year_built            76464 non-null  object
 52  num_stories           17336 non-null  float64
 53  fireplace_flag        172 non-null    float64
 54  building_tax_value    76437 non-null  float64
 55  tax_value             76521 non-null  float64
 56  year_assesed          76521 non-null  float64
 57  land_tax_value        76521 non-null  float64
 58  tax_amount            76516 non-null  float64
 59  tax_delinquency_flag  2852 non-null   object
 60  tax_delinquency_year  2852 non-null   float64
 61  tract_and_block       76301 non-null  float64
dtypes: datetime64[ns](1), float64(47), int64(2), object(12)
memory usage: 36.8+ MB
None
Number of Columns with nulls: 44

    DataFrame .describe():
    -----------------
|       |      id |          parcel |      logerror |   basementsqft |    bathrooms |    bedrooms |   quality_type |   calc_bath_n_bed |   deck_type |   floor_1_sqft |   tot_sqft |   sqft_12 |   sqft_13 |   sqft_15 |   sqft_50 |   sqft_6 |   fireplaces |   full_baths |      garages |   garage_sqft |   hot_tub |              lat |              lon |         lot_sqft |   pools |   pool_sqft |   pool_id10 |   pool_id2 |   pool_id7 |   raw_tract_and_block |   city_id |   county_id |   neighborhood |   zip_code |   num_rooms |   stories_type |   three_quarter_baths |        units |   yard_sqft_17 |   yard_sqft_26 |   num_stories |   fireplace_flag |   building_tax_value |        tax_value |   year_assesed |   land_tax_value |   tax_amount |   tax_delinquency_year |   tract_and_block |
|:------|--------:|----------------:|--------------:|---------------:|-------------:|------------:|---------------:|------------------:|------------:|---------------:|-----------:|----------:|----------:|----------:|----------:|---------:|-------------:|-------------:|-------------:|--------------:|----------:|-----------------:|-----------------:|-----------------:|--------:|------------:|------------:|-----------:|-----------:|----------------------:|----------:|------------:|---------------:|-----------:|------------:|---------------:|----------------------:|-------------:|---------------:|---------------:|--------------:|-----------------:|---------------------:|-----------------:|---------------:|-----------------:|-------------:|-----------------------:|------------------:|
| count | 76521   | 76521           | 76521         |         50     | 76521        | 76521       |    49422       |      76505        |         612 |       6006     |  76521     | 73390     |    26     |  2927     |  6006     |  178     |  8247        | 76505        | 25287        |     25287     |      1538 |  76521           |  76521           |  68390           |   16048 |     862     |         464 |       1074 |      14953 |       76521           |   75075   |   76521     |          30526 |   76477    | 76521       |             50 |          10094        | 49985        |       2377     |         70     |  17336        |              172 |       76437          |  76521           |          76521 |  76521           |     76516    |             2852       |   76301           |
| mean  | 38851.4 |     1.29929e+07 |     0.016456  |        679.72  |     2.32044  |     3.08681 |        6.53428 |          2.32044  |          66 |       1364.5   |   1784.13  |  1763.08  |  1375.38  |  2347.84  |  1379.8   | 1250.69  |     1.18989  |     2.25384  |     1.82667  |       352.331 |         1 |      3.40092e+07 |     -1.18203e+08 |  29820.3         |       1 |     518.092 |           1 |          1 |          1 |           6.04905e+07 |   33674   |    2537.03  |         187034 |   96587    |     1.49141 |              7 |              1.00961  |     1.09327  |        305.218 |        216.386 |      1.42957  |                1 |      188788          | 488694           |           2016 | 300114           |      5979.33 |               14.087   |       6.0496e+13  |
| std   | 22404.5 |     3.31108e+06 |     0.168209  |        689.704 |     0.978789 |     1.09967 |        1.7211  |          0.978795 |           0 |        668.634 |    940.759 |   932.694 |   128.218 |   968.766 |   724.192 |  809.124 |     0.489105 |     0.965785 |     0.572833 |       260.98  |         0 | 265422           | 358549           | 123294           |       0 |     156.166 |           0 |          0 |          0 |      205236           |   47227.3 |     800.745 |         165175 |    3819.19 |     2.83431 |              0 |              0.118642 |     0.421759 |        238.711 |        190.178 |      0.544421 |                0 |      223511          | 647844           |              0 | 490350           |      7554.89 |                2.19198 |       1.54339e+12 |
| min   |     0   |     1.07119e+07 |    -4.65542   |         38     |     1        |     1       |        1       |          1        |          66 |         44     |    152     |   152     |  1056     |   598     |    44     |  380     |     1        |     1        |     0        |         0     |         1 |      3.33395e+07 |     -1.19475e+08 |    236           |       1 |      24     |           1 |          1 |          1 |           6.0371e+07  |    3491   |    1286     |           6952 |   95982    |     0       |              7 |              1        |     1        |         11     |         12     |      1        |                1 |          44          |   1000           |           2016 |    161           |        19.92 |                3       |       6.0371e+13  |
| 25%   | 19465   |     1.15321e+07 |    -0.0242734 |        273     |     2        |     2       |        6       |          2        |          66 |        954.25  |   1184     |  1175     |  1344     |  1629.5   |   956     |  790.75  |     1        |     2        |     2        |         0     |         1 |      3.38157e+07 |     -1.18416e+08 |   5700           |       1 |     424     |           1 |          1 |          1 |           6.03731e+07 |   12447   |    1286     |          41466 |   96193    |     0       |              7 |              1        |     1        |        170     |         61.5   |      1        |                1 |       84476          | 207172           |           2016 |  85504           |      2720.42 |               14       |       6.03731e+13 |
| 50%   | 38894   |     1.25273e+07 |     0.0066161 |        515     |     2        |     3       |        6       |          2        |          66 |       1256     |   1543     |  1525     |  1440     |  2100     |  1259     |  982.5   |     1        |     2        |     2        |       437     |         1 |      3.40225e+07 |     -1.1818e+08  |   7201           |       1 |     500     |           1 |          1 |          1 |           6.0376e+07  |   25218   |    3101     |         118825 |   96389    |     0       |              7 |              1        |     1        |        250     |        164.5   |      1        |                1 |      136734          | 359000           |           2016 | 203559           |      4451.27 |               15       |       6.0376e+13  |
| 75%   | 58255   |     1.42094e+07 |     0.0390554 |        796.5   |     3        |     4       |        8       |          3        |          66 |       1614.75  |   2109     |  2077     |  1440     |  2839.5   |  1618.75  | 1318.25  |     1        |     3        |     2        |       493     |         1 |      3.4175e+07  |     -1.17929e+08 |  11744.5         |       1 |     600     |           1 |          1 |          1 |           6.05904e+07 |   45457   |    3101     |         274765 |   96986    |     0       |              7 |              1        |     1        |        364     |        310.5   |      2        |                1 |      218767          | 568540           |           2016 | 366162           |      6922    |               15       |       6.05904e+13 |
| max   | 77612   |     1.67689e+08 |     5.263     |       3560     |    18        |    16       |       12       |         18        |          66 |       6912     |  21929     | 21929     |  1560     |  7990     | 12467     | 5598     |     5        |    18        |    14        |      4251     |         1 |      3.48188e+07 |     -1.17555e+08 |      6.97101e+06 |       1 |    1500     |           1 |          1 |          1 |           6.11101e+07 |  396556   |    3101     |         764167 |  399675    |    15       |              7 |              7        |     6        |       3191     |        868     |      6        |                1 |           9.1649e+06 |      4.90612e+07 |           2016 |      4.89522e+07 |    586639    |               99       |       4.8303e+14  |

    Null Value Assessments:
    -----------------

        Nulls By Column:
|                      |   num_rows_missing |   percent_missing |
|:---------------------|-------------------:|------------------:|
| ac_type              |              51738 |       67.6128     |
| arch_type            |              76315 |       99.7308     |
| build_type           |              76521 |      100          |
| heat_type            |              27336 |       35.7235     |
| story_type           |              76471 |       99.9347     |
| construction_type    |              76299 |       99.7099     |
| basementsqft         |              76471 |       99.9347     |
| quality_type         |              27099 |       35.4138     |
| calc_bath_n_bed      |                 16 |        0.0209093  |
| deck_type            |              75909 |       99.2002     |
| floor_1_sqft         |              70515 |       92.1512     |
| sqft_12              |               3131 |        4.09169    |
| sqft_13              |              76495 |       99.966      |
| sqft_15              |              73594 |       96.1749     |
| sqft_50              |              70515 |       92.1512     |
| sqft_6               |              76343 |       99.7674     |
| fireplaces           |              68274 |       89.2226     |
| full_baths           |                 16 |        0.0209093  |
| garages              |              51234 |       66.9542     |
| garage_sqft          |              51234 |       66.9542     |
| hot_tub              |              74983 |       97.9901     |
| lot_sqft             |               8131 |       10.6258     |
| pools                |              60473 |       79.028      |
| pool_sqft            |              75659 |       98.8735     |
| pool_id10            |              76057 |       99.3936     |
| pool_id2             |              75447 |       98.5965     |
| pool_id7             |              61568 |       80.459      |
| zoning               |              26604 |       34.7669     |
| city_id              |               1446 |        1.88968    |
| neighborhood         |              45995 |       60.1077     |
| zip_code             |                 44 |        0.0575006  |
| stories_type         |              76471 |       99.9347     |
| three_quarter_baths  |              66427 |       86.8088     |
| units                |              26536 |       34.6781     |
| yard_sqft_17         |              74144 |       96.8937     |
| yard_sqft_26         |              76451 |       99.9085     |
| year_built           |                 57 |        0.0744894  |
| num_stories          |              59185 |       77.3448     |
| fireplace_flag       |              76349 |       99.7752     |
| building_tax_value   |                 84 |        0.109774   |
| tax_amount           |                  5 |        0.00653415 |
| tax_delinquency_flag |              73669 |       96.2729     |
| tax_delinquency_year |              73669 |       96.2729     |
| tract_and_block      |                220 |        0.287503   |
    -----------------

        Nulls By Row:
|    |   num_cols_missing |   percent_missing |   count |
|---:|-------------------:|------------------:|--------:|
|  0 |                 19 |           30.6452 |       2 |
|  1 |                 20 |           32.2581 |       3 |
|  2 |                 21 |           33.871  |      13 |
|  3 |                 22 |           35.4839 |      79 |
|  4 |                 23 |           37.0968 |     265 |
|  5 |                 24 |           38.7097 |     606 |
|  6 |                 25 |           40.3226 |     656 |
|  7 |                 26 |           41.9355 |    5740 |
|  8 |                 27 |           43.5484 |    7939 |
|  9 |                 28 |           45.1613 |   12352 |
| 10 |                 29 |           46.7742 |   20596 |
| 11 |                 30 |           48.3871 |   16035 |
| 12 |                 31 |           50      |    6314 |
| 13 |                 32 |           51.6129 |    3458 |
| 14 |                 33 |           53.2258 |    2043 |
| 15 |                 34 |           54.8387 |     246 |
| 16 |                 35 |           56.4516 |     168 |
| 17 |                 36 |           58.0645 |       6 |

    DataFrame .value_counts():
    -----------------

Column Name:  id
--------------
Numerical: Divided by Quartile
 -  5 bins

|                    |    id |
|:-------------------|------:|
| (-77.613, 15522.4] | 15266 |
| (15522.4, 31044.8] | 15274 |
| (31044.8, 46567.2] | 15297 |
| (46567.2, 62089.6] | 15344 |
| (62089.6, 77612.0] | 15340 |

-------------
Column Name:  parcel
--------------
Numerical: Divided by Quartile
 -  5 bins

|                            |   parcel |
|:---------------------------|---------:|
| (10554878.322, 42107190.4] |    76494 |
| (42107190.4, 73502525.8]   |        0 |
| (73502525.8, 104897861.2]  |        2 |
| (104897861.2, 136293196.6] |        0 |
| (136293196.6, 167688532.0] |       25 |

-------------
Column Name:  logerror
--------------
Numerical: Divided by Quartile
 -  5 bins

|                  |   logerror |
|:-----------------|-----------:|
| (-4.666, -2.672] |          4 |
| (-2.672, -0.688] |        171 |
| (-0.688, 1.296]  |      76181 |
| (1.296, 3.279]   |        163 |
| (3.279, 5.263]   |          2 |

-------------
Column Name:  trans_date
--------------
Numerical: Divided by Quartile
 -  5 bins

|                                                      |   trans_date |
|:-----------------------------------------------------|-------------:|
| (2016-12-31 17:35:31.199999999, 2017-02-23 09:36:00] |        11821 |
| (2017-02-23 09:36:00, 2017-04-17 19:12:00]           |        14857 |
| (2017-04-17 19:12:00, 2017-06-10 04:48:00]           |        17848 |
| (2017-06-10 04:48:00, 2017-08-02 14:24:00]           |        17879 |
| (2017-08-02 14:24:00, 2017-09-25]                    |        14116 |

-------------
Column Name:  ac_type
--------------
Categorical:
 -  6 Categories

|               |   ac_type |
|:--------------|----------:|
|               |     51738 |
| Central       |     22969 |
| Yes           |      1568 |
| None          |       167 |
| Wall Unit     |        53 |
| Refrigeration |        26 |

-------------
Column Name:  arch_type
--------------
Categorical:
 -  6 Categories

|               |   arch_type |
|:--------------|------------:|
|               |       76315 |
| Contemporary  |         172 |
| Conventional  |          19 |
| Ranch/Rambler |           7 |
| Bungalow      |           5 |
| Cape Cod      |           3 |

-------------
Column Name:  build_type
--------------
Categorical:
 -  1 Categories

|    |   build_type |
|:---|-------------:|
|    |        76521 |

-------------
Column Name:  heat_type
--------------
Categorical:
 -  11 Categories

|            |   heat_type |
|:-----------|------------:|
| Central    |       33353 |
|            |       27336 |
| Floor/Wall |       14008 |
| Yes        |         846 |
| Forced air |         775 |
| Solar      |         104 |
| None       |          59 |
| Radiant    |          23 |
| Baseboard  |          13 |
| Gravity    |           3 |
| Heat Pump  |           1 |

-------------
Column Name:  land_use_type
--------------
Categorical:
 -  12 Categories

|                                            |   land_use_type |
|:-------------------------------------------|----------------:|
| Single Family Residential                  |           52160 |
| Condominium                                |           19006 |
| Planned Unit Development                   |            1940 |
| Duplex (2 Units, Any Combination)          |            1843 |
| Quadruplex (4 Units, Any Combination)      |             615 |
| Triplex (3 Units, Any Combination)         |             485 |
| Cluster Home                               |             333 |
| Mobile Home                                |              59 |
| Manufactured, Modular, Prefabricated Homes |              35 |
| Cooperative                                |              29 |
| Residential General                        |              10 |
| Townhouse                                  |               6 |

-------------
Column Name:  story_type
--------------
Categorical:
 -  2 Categories

|          |   story_type |
|:---------|-------------:|
|          |        76471 |
| Basement |           50 |

-------------
Column Name:  construction_type
--------------
Categorical:
 -  5 Categories

|          |   construction_type |
|:---------|--------------------:|
|          |               76299 |
| Frame    |                 219 |
| Masonry  |                   1 |
| Metal    |                   1 |
| Concrete |                   1 |

-------------
Column Name:  basementsqft
--------------
Numerical: Divided by Quartile
 -  5 bins

|                             |   basementsqft |
|:----------------------------|---------------:|
| (34.477000000000004, 742.4] |             36 |
| (742.4, 1446.8]             |             10 |
| (1446.8, 2151.2]            |              2 |
| (2151.2, 2855.6]            |              0 |
| (2855.6, 3560.0]            |              2 |

-------------
Column Name:  bathrooms
--------------
Numerical: Divided by Quartile
 -  5 bins

|              |   bathrooms |
|:-------------|------------:|
| (0.982, 4.4] |       73839 |
| (4.4, 7.8]   |        2536 |
| (7.8, 11.2]  |         144 |
| (11.2, 14.6] |           1 |
| (14.6, 18.0] |           1 |

-------------
Column Name:  bedrooms
--------------
Numerical: Divided by Quartile
 -  5 bins

|              |   bedrooms |
|:-------------|-----------:|
| (0.984, 4.0] |      70394 |
| (4.0, 7.0]   |       5748 |
| (7.0, 10.0]  |        353 |
| (10.0, 13.0] |         24 |
| (13.0, 16.0] |          2 |

-------------
Column Name:  quality_type
--------------
Numerical: Divided by Quartile
 -  5 bins

|              |   quality_type |
|:-------------|---------------:|
| (0.988, 3.2] |            354 |
| (3.2, 5.4]   |          11514 |
| (5.4, 7.6]   |          19344 |
| (7.6, 9.8]   |          16859 |
| (9.8, 12.0]  |           1351 |

-------------
Column Name:  calc_bath_n_bed
--------------
Numerical: Divided by Quartile
 -  5 bins

|              |   calc_bath_n_bed |
|:-------------|------------------:|
| (0.982, 4.4] |             73824 |
| (4.4, 7.8]   |              2535 |
| (7.8, 11.2]  |               144 |
| (11.2, 14.6] |                 1 |
| (14.6, 18.0] |                 1 |

-------------
Column Name:  deck_type
--------------
Numerical: Divided by Quartile
 -  5 bins

|                            |   deck_type |
|:---------------------------|------------:|
| (65.93299999999999, 65.96] |           0 |
| (65.96, 65.987]            |           0 |
| (65.987, 66.013]           |         612 |
| (66.013, 66.04]            |           0 |
| (66.04, 66.066]            |           0 |

-------------
Column Name:  floor_1_sqft
--------------
Numerical: Divided by Quartile
 -  5 bins

|                  |   floor_1_sqft |
|:-----------------|---------------:|
| (37.131, 1417.6] |           3720 |
| (1417.6, 2791.2] |           2065 |
| (2791.2, 4164.8] |            174 |
| (4164.8, 5538.4] |             37 |
| (5538.4, 6912.0] |             10 |

-------------
Column Name:  tot_sqft
--------------
Numerical: Divided by Quartile
 -  5 bins

|                    |   tot_sqft |
|:-------------------|-----------:|
| (130.222, 4507.4]  |      75161 |
| (4507.4, 8862.8]   |       1297 |
| (8862.8, 13218.2]  |         56 |
| (13218.2, 17573.6] |          4 |
| (17573.6, 21929.0] |          3 |

-------------
Column Name:  sqft_12
--------------
Numerical: Divided by Quartile
 -  5 bins

|                    |   sqft_12 |
|:-------------------|----------:|
| (130.222, 4507.4]  |     72131 |
| (4507.4, 8862.8]   |      1196 |
| (8862.8, 13218.2]  |        56 |
| (13218.2, 17573.6] |         4 |
| (17573.6, 21929.0] |         3 |

-------------
Column Name:  sqft_13
--------------
Numerical: Divided by Quartile
 -  5 bins

|                              |   sqft_13 |
|:-----------------------------|----------:|
| (1055.4950000000001, 1156.8] |         3 |
| (1156.8, 1257.6]             |         3 |
| (1257.6, 1358.4]             |         4 |
| (1358.4, 1459.2]             |        11 |
| (1459.2, 1560.0]             |         5 |

-------------
Column Name:  sqft_15
--------------
Numerical: Divided by Quartile
 -  5 bins

|                   |   sqft_15 |
|:------------------|----------:|
| (590.607, 2076.4] |      1435 |
| (2076.4, 3554.8]  |      1117 |
| (3554.8, 5033.2]  |       332 |
| (5033.2, 6511.6]  |        37 |
| (6511.6, 7990.0]  |         6 |

-------------
Column Name:  sqft_50
--------------
Numerical: Divided by Quartile
 -  5 bins

|                   |   sqft_50 |
|:------------------|----------:|
| (31.576, 2528.6]  |      5680 |
| (2528.6, 5013.2]  |       298 |
| (5013.2, 7497.8]  |        24 |
| (7497.8, 9982.4]  |         3 |
| (9982.4, 12467.0] |         1 |

-------------
Column Name:  sqft_6
--------------
Numerical: Divided by Quartile
 -  5 bins

|                   |   sqft_6 |
|:------------------|---------:|
| (374.781, 1423.6] |      141 |
| (1423.6, 2467.2]  |       23 |
| (2467.2, 3510.8]  |        7 |
| (3510.8, 4554.4]  |        6 |
| (4554.4, 5598.0]  |        1 |

-------------
Column Name:  fips
--------------
Categorical:
 -  3 Categories

|                    |   fips |
|:-------------------|-------:|
| Los Angeles County |  50135 |
| Orange County      |  20276 |
| Ventura County     |   6110 |

-------------
Column Name:  fireplaces
--------------
Numerical: Divided by Quartile
 -  5 bins

|              |   fireplaces |
|:-------------|-------------:|
| (0.995, 1.8] |         6990 |
| (1.8, 2.6]   |          988 |
| (2.6, 3.4]   |          232 |
| (3.4, 4.2]   |           34 |
| (4.2, 5.0]   |            3 |

-------------
Column Name:  full_baths
--------------
Numerical: Divided by Quartile
 -  5 bins

|              |   full_baths |
|:-------------|-------------:|
| (0.982, 4.4] |        74540 |
| (4.4, 7.8]   |         1819 |
| (7.8, 11.2]  |          144 |
| (11.2, 14.6] |            1 |
| (14.6, 18.0] |            1 |

-------------
Column Name:  garages
--------------
Numerical: Divided by Quartile
 -  5 bins

|               |   garages |
|:--------------|----------:|
| (-0.015, 2.8] |     24329 |
| (2.8, 5.6]    |       930 |
| (5.6, 8.4]    |        20 |
| (8.4, 11.2]   |         6 |
| (11.2, 14.0]  |         2 |

-------------
Column Name:  garage_sqft
--------------
Numerical: Divided by Quartile
 -  5 bins

|                             |   garage_sqft |
|:----------------------------|--------------:|
| (-4.252000000000001, 850.2] |         24911 |
| (850.2, 1700.4]             |           360 |
| (1700.4, 2550.6]            |             8 |
| (2550.6, 3400.8]            |             6 |
| (3400.8, 4251.0]            |             2 |

-------------
Column Name:  hot_tub
--------------
Numerical: Divided by Quartile
 -  5 bins

|                  |   hot_tub |
|:-----------------|----------:|
| (0.9989, 0.9994] |         0 |
| (0.9994, 0.9998] |         0 |
| (0.9998, 1.0002] |      1538 |
| (1.0002, 1.0006] |         0 |
| (1.0006, 1.001]  |         0 |

-------------
Column Name:  lat
--------------
Numerical: Divided by Quartile
 -  5 bins

|                                  |   lat |
|:---------------------------------|------:|
| (33338047.759000003, 33635375.0] |  6254 |
| (33635375.0, 33931223.0]         | 24528 |
| (33931223.0, 34227071.0]         | 32754 |
| (34227071.0, 34522919.0]         |  9336 |
| (34522919.0, 34818767.0]         |  3649 |

-------------
Column Name:  lon
--------------
Numerical: Divided by Quartile
 -  5 bins

|                                |   lon |
|:-------------------------------|------:|
| (-119477336.781, -119091260.0] |  2151 |
| (-119091260.0, -118707104.0]   |  4089 |
| (-118707104.0, -118322948.0]   | 21193 |
| (-118322948.0, -117938792.0]   | 29266 |
| (-117938792.0, -117554636.0]   | 19822 |

-------------
Column Name:  lot_sqft
--------------
Numerical: Divided by Quartile
 -  5 bins

|                                 |   lot_sqft |
|:--------------------------------|-----------:|
| (-6734.775000000001, 1394390.8] |      68333 |
| (1394390.8, 2788545.6]          |         40 |
| (2788545.6, 4182700.4]          |         10 |
| (4182700.4, 5576855.2]          |          0 |
| (5576855.2, 6971010.0]          |          7 |

-------------
Column Name:  pools
--------------
Numerical: Divided by Quartile
 -  5 bins

|                  |   pools |
|:-----------------|--------:|
| (0.9989, 0.9994] |       0 |
| (0.9994, 0.9998] |       0 |
| (0.9998, 1.0002] |   16048 |
| (1.0002, 1.0006] |       0 |
| (1.0006, 1.001]  |       0 |

-------------
Column Name:  pool_sqft
--------------
Numerical: Divided by Quartile
 -  5 bins

|                  |   pool_sqft |
|:-----------------|------------:|
| (22.523, 319.2]  |          53 |
| (319.2, 614.4]   |         626 |
| (614.4, 909.6]   |         169 |
| (909.6, 1204.8]  |          12 |
| (1204.8, 1500.0] |           2 |

-------------
Column Name:  pool_id10
--------------
Numerical: Divided by Quartile
 -  5 bins

|                  |   pool_id10 |
|:-----------------|------------:|
| (0.9989, 0.9994] |           0 |
| (0.9994, 0.9998] |           0 |
| (0.9998, 1.0002] |         464 |
| (1.0002, 1.0006] |           0 |
| (1.0006, 1.001]  |           0 |

-------------
Column Name:  pool_id2
--------------
Numerical: Divided by Quartile
 -  5 bins

|                  |   pool_id2 |
|:-----------------|-----------:|
| (0.9989, 0.9994] |          0 |
| (0.9994, 0.9998] |          0 |
| (0.9998, 1.0002] |       1074 |
| (1.0002, 1.0006] |          0 |
| (1.0006, 1.001]  |          0 |

-------------
Column Name:  pool_id7
--------------
Numerical: Divided by Quartile
 -  5 bins

|                  |   pool_id7 |
|:-----------------|-----------:|
| (0.9989, 0.9994] |          0 |
| (0.9994, 0.9998] |          0 |
| (0.9998, 1.0002] |      14953 |
| (1.0002, 1.0006] |          0 |
| (1.0006, 1.001]  |          0 |

-------------
Column Name:  county_landuse
--------------
Categorical:
 -  61 Categories

 0100    26675
122     13011
010C     8701
0101     6398
34       4888
        ...
0301        1
0133        1
0204        1
0131        1
020E        1
Name: county_landuse, Length: 61, dtype: int64


-------------
Column Name:  zoning
--------------
Categorical:
 -  1894 Categories

 None         26604
LAR1          6731
LAR3          2409
LARS          1389
LBR1N         1219
             ...
AHPRD10*         1
RBR4             1
HAC2YY           1
LCR17500         1
BFA15000*        1
Name: zoning, Length: 1894, dtype: int64


-------------
Column Name:  raw_tract_and_block
--------------
Numerical: Divided by Quartile
 -  5 bins

|                                    |   raw_tract_and_block |
|:-----------------------------------|----------------------:|
| (60370272.019999996, 60518827.081] |                 50135 |
| (60518827.081, 60666643.061]       |                 20276 |
| (60666643.061, 60814459.041]       |                     0 |
| (60814459.041, 60962275.021]       |                     0 |
| (60962275.021, 61110091.001]       |                  6110 |

-------------
Column Name:  city_id
--------------
Numerical: Divided by Quartile
 -  5 bins

|                               |   city_id |
|:------------------------------|----------:|
| (3097.9339999999997, 82104.0] |     72958 |
| (82104.0, 160717.0]           |      1046 |
| (160717.0, 239330.0]          |         0 |
| (239330.0, 317943.0]          |        24 |
| (317943.0, 396556.0]          |      1047 |

-------------
Column Name:  county_id
--------------
Numerical: Divided by Quartile
 -  5 bins

|                    |   county_id |
|:-------------------|------------:|
| (1284.184, 1649.0] |       20276 |
| (1649.0, 2012.0]   |           0 |
| (2012.0, 2375.0]   |        6110 |
| (2375.0, 2738.0]   |           0 |
| (2738.0, 3101.0]   |       50135 |

-------------
Column Name:  neighborhood
--------------
Numerical: Divided by Quartile
 -  5 bins

|                      |   neighborhood |
|:---------------------|---------------:|
| (6194.784, 158395.0] |          16024 |
| (158395.0, 309838.0] |          11403 |
| (309838.0, 461281.0] |           1970 |
| (461281.0, 612724.0] |              0 |
| (612724.0, 764167.0] |           1129 |

-------------
Column Name:  zip_code
--------------
Numerical: Divided by Quartile
 -  5 bins

|                       |   zip_code |
|:----------------------|-----------:|
| (95678.306, 156720.6] |      76465 |
| (156720.6, 217459.2]  |          0 |
| (217459.2, 278197.8]  |          0 |
| (278197.8, 338936.4]  |          0 |
| (338936.4, 399675.0]  |         12 |

-------------
Column Name:  num_rooms
--------------
Numerical: Divided by Quartile
 -  5 bins

|               |   num_rooms |
|:--------------|------------:|
| (-0.016, 3.0] |       59196 |
| (3.0, 6.0]    |        8934 |
| (6.0, 9.0]    |        7894 |
| (9.0, 12.0]   |         480 |
| (12.0, 15.0]  |          17 |

-------------
Column Name:  stories_type
--------------
Numerical: Divided by Quartile
 -  5 bins

|                |   stories_type |
|:---------------|---------------:|
| (6.992, 6.996] |              0 |
| (6.996, 6.999] |              0 |
| (6.999, 7.001] |             50 |
| (7.001, 7.004] |              0 |
| (7.004, 7.007] |              0 |

-------------
Column Name:  three_quarter_baths
--------------
Numerical: Divided by Quartile
 -  5 bins

|              |   three_quarter_baths |
|:-------------|----------------------:|
| (0.993, 2.2] |                 10085 |
| (2.2, 3.4]   |                     8 |
| (3.4, 4.6]   |                     0 |
| (4.6, 5.8]   |                     0 |
| (5.8, 7.0]   |                     1 |

-------------
Column Name:  units
--------------
Numerical: Divided by Quartile
 -  5 bins

|              |   units |
|:-------------|--------:|
| (0.994, 2.0] |   48890 |
| (2.0, 3.0]   |     480 |
| (3.0, 4.0]   |     614 |
| (4.0, 5.0]   |       0 |
| (5.0, 6.0]   |       1 |

-------------
Column Name:  yard_sqft_17
--------------
Numerical: Divided by Quartile
 -  5 bins

|                  |   yard_sqft_17 |
|:-----------------|---------------:|
| (7.819, 647.0]   |           2232 |
| (647.0, 1283.0]  |            128 |
| (1283.0, 1919.0] |             10 |
| (1919.0, 2555.0] |              4 |
| (2555.0, 3191.0] |              3 |

-------------
Column Name:  yard_sqft_26
--------------
Numerical: Divided by Quartile
 -  5 bins

|                 |   yard_sqft_26 |
|:----------------|---------------:|
| (11.143, 183.2] |             38 |
| (183.2, 354.4]  |             17 |
| (354.4, 525.6]  |             10 |
| (525.6, 696.8]  |              3 |
| (696.8, 868.0]  |              2 |

-------------
Column Name:  year_built
--------------
Categorical:
 -  137 Categories

 1955.0    1956
1989.0    1786
1950.0    1663
1964.0    1611
1954.0    1580
          ...
1866.0       1
1824.0       1
1882.0       1
1894.0       1
1880.0       1
Name: year_built, Length: 137, dtype: int64


-------------
Column Name:  num_stories
--------------
Numerical: Divided by Quartile
 -  5 bins

|              |   num_stories |
|:-------------|--------------:|
| (0.994, 2.0] |         16900 |
| (2.0, 3.0]   |           435 |
| (3.0, 4.0]   |             0 |
| (4.0, 5.0]   |             0 |
| (5.0, 6.0]   |             1 |

-------------
Column Name:  fireplace_flag
--------------
Numerical: Divided by Quartile
 -  5 bins

|                  |   fireplace_flag |
|:-----------------|-----------------:|
| (0.9989, 0.9994] |                0 |
| (0.9994, 0.9998] |                0 |
| (0.9998, 1.0002] |              172 |
| (1.0002, 1.0006] |                0 |
| (1.0006, 1.001]  |                0 |

-------------
Column Name:  building_tax_value
--------------
Numerical: Divided by Quartile
 -  5 bins

|                        |   building_tax_value |
|:-----------------------|---------------------:|
| (-9120.858, 1833015.4] |                76265 |
| (1833015.4, 3665986.8] |                  147 |
| (3665986.8, 5498958.2] |                   16 |
| (5498958.2, 7331929.6] |                    4 |
| (7331929.6, 9164901.0] |                    5 |

-------------
Column Name:  tax_value
--------------
Numerical: Divided by Quartile
 -  5 bins

|                                  |   tax_value |
|:---------------------------------|------------:|
| (-48060.236999999994, 9813047.2] |       76483 |
| (9813047.2, 19625094.4]          |          32 |
| (19625094.4, 29437141.6]         |           5 |
| (29437141.6, 39249188.8]         |           0 |
| (39249188.8, 49061236.0]         |           1 |

-------------
Column Name:  year_assesed
--------------
Numerical: Divided by Quartile
 -  5 bins

|                      |   year_assesed |
|:---------------------|---------------:|
| (2013.983, 2014.79]  |              0 |
| (2014.79, 2015.597]  |              0 |
| (2015.597, 2016.403] |          76521 |
| (2016.403, 2017.21]  |              0 |
| (2017.21, 2018.016]  |              0 |

-------------
Column Name:  land_tax_value
--------------
Numerical: Divided by Quartile
 -  5 bins

|                                 |   land_tax_value |
|:--------------------------------|-----------------:|
| (-48791.03799999999, 9790568.4] |            76500 |
| (9790568.4, 19580975.8]         |               19 |
| (19580975.8, 29371383.2]        |                1 |
| (29371383.2, 39161790.6]        |                0 |
| (39161790.6, 48952198.0]        |                1 |

-------------
Column Name:  tax_amount
--------------
Numerical: Divided by Quartile
 -  5 bins

|                                  |   tax_amount |
|:---------------------------------|-------------:|
| (-566.6999999999999, 117343.796] |        76482 |
| (117343.796, 234667.672]         |           29 |
| (234667.672, 351991.548]         |            4 |
| (351991.548, 469315.424]         |            0 |
| (469315.424, 586639.3]           |            1 |

-------------
Column Name:  tax_delinquency_flag
--------------
Categorical:
 -  2 Categories

|    |   tax_delinquency_flag |
|:---|-----------------------:|
|    |                  73669 |
| Y  |                   2852 |

-------------
Column Name:  tax_delinquency_year
--------------
Numerical: Divided by Quartile
 -  5 bins

|               |   tax_delinquency_year |
|:--------------|-----------------------:|
| (2.903, 22.2] |                   2851 |
| (22.2, 41.4]  |                      0 |
| (41.4, 60.6]  |                      0 |
| (60.6, 79.8]  |                      0 |
| (79.8, 99.0]  |                      1 |

-------------
Column Name:  tract_and_block
--------------
Numerical: Divided by Quartile
 -  5 bins

|                                         |   tract_and_block |
|:----------------------------------------|------------------:|
| (59948352007016.984, 144902829897603.0] |             76300 |
| (144902829897603.0, 229434648694206.03] |                 0 |
| (229434648694206.03, 313966467490809.0] |                 0 |
| (313966467490809.0, 398498286287411.94] |                 0 |
| (398498286287411.94, 483030105084015.0] |                 1 |

-------------
-----------------
---End of Line---

In [44]:
len(df.zoning.value_counts(dropna=False).to_markdown())

49295

In [45]:
len(df.zoning.value_counts(dropna=False))

1894

In [47]:
len(df.zoning.value_counts(dropna=False).to_markdown())/\
len(df.zoning.value_counts(dropna=False))

26.026927138331573

In [51]:
len(df.county_landuse.value_counts(dropna=False).to_markdown())

1763

In [52]:
len(df.county_landuse.value_counts(dropna=False))

61

In [53]:
len(df.county_landuse.value_counts(dropna=False).to_markdown())/\
len(df.county_landuse.value_counts(dropna=False))

28.901639344262296

In [29]:
from wrangle import nulls_by_col, nulls_by_row

In [41]:
summarize(df)

    DataFrame .head():
    -----------------
|    |   id |   parcel |    logerror | trans_date          | ac_type   | arch_type   | build_type   | heat_type   | land_use_type             | story_type   | construction_type   |   basementsqft |   bathrooms |   bedrooms |   quality_type |   calc_bath_n_bed |   deck_type |   floor_1_sqft |   tot_sqft |   sqft_12 |   sqft_13 |   sqft_15 |   sqft_50 |   sqft_6 | fips               |   fireplaces |   full_baths |   garages |   garage_sqft |   hot_tub |         lat |          lon |   lot_sqft |   pools |   pool_sqft |   pool_id10 |   pool_id2 |   pool_id7 | county_landuse   | zoning     |   raw_tract_and_block |   city_id |   county_id |   neighborhood |   zip_code |   num_rooms |   stories_type |   three_quarter_baths |   units |   yard_sqft_17 |   yard_sqft_26 |   year_built |   num_stories |   fireplace_flag |   building_tax_value |        tax_value |   year_assesed |   land_tax_value |   tax_amount | tax_delinquency_flag   |   tax_delinquency_year |   tract_and_block |
|---:|-----:|---------:|------------:|:--------------------|:----------|:------------|:-------------|:------------|:--------------------------|:-------------|:--------------------|---------------:|------------:|-----------:|---------------:|------------------:|------------:|---------------:|-----------:|----------:|----------:|----------:|----------:|---------:|:-------------------|-------------:|-------------:|----------:|--------------:|----------:|------------:|-------------:|-----------:|--------:|------------:|------------:|-----------:|-----------:|:-----------------|:-----------|----------------------:|----------:|------------:|---------------:|-----------:|------------:|---------------:|----------------------:|--------:|---------------:|---------------:|-------------:|--------------:|-----------------:|---------------------:|-----------------:|---------------:|-----------------:|-------------:|:-----------------------|-----------------------:|------------------:|
|  0 |    0 | 14297519 |  0.0255949  | 2017-01-01 00:00:00 |           |             |              |             | Single Family Residential |              |                     |            nan |         3.5 |          4 |            nan |               3.5 |         nan |            nan |       3100 |      3100 |       nan |       nan |       nan |      nan | Orange County      |          nan |            3 |         2 |           633 |       nan | 3.36349e+07 | -1.17869e+08 |       4506 |     nan |         nan |         nan |        nan |        nan | 122              |            |           6.05906e+07 |     53571 |        1286 |            nan |      96978 |           0 |            nan |                     1 |     nan |            nan |            nan |         1998 |           nan |              nan |               485713 |      1.02328e+06 |           2016 |           537569 |     11013.7  |                        |                    nan |       6.05906e+13 |
|  1 |    1 | 17052889 |  0.0556191  | 2017-01-01 00:00:00 |           |             |              |             | Single Family Residential |              |                     |            nan |         1   |          2 |            nan |               1   |         nan |           1465 |       1465 |      1465 |       nan |       nan |      1465 |      nan | Ventura County     |            1 |            1 |         1 |             0 |       nan | 3.44493e+07 | -1.19282e+08 |      12647 |     nan |         nan |         nan |        nan |        nan | 1110             |            |           6.111e+07   |     13091 |        2061 |            nan |      97099 |           5 |            nan |                   nan |     nan |            nan |            nan |         1967 |             1 |              nan |                88000 | 464000           |           2016 |           376000 |      5672.48 |                        |                    nan |       6.111e+13   |
|  2 |    2 | 14186244 |  0.00538285 | 2017-01-01 00:00:00 |           |             |              |             | Single Family Residential |              |                     |            nan |         2   |          3 |            nan |               2   |         nan |            nan |       1243 |      1243 |       nan |       nan |       nan |      nan | Orange County      |          nan |            2 |         2 |           440 |       nan | 3.38862e+07 | -1.17823e+08 |       8432 |       1 |         nan |         nan |        nan |          1 | 122              |            |           6.05902e+07 |     21412 |        1286 |            nan |      97078 |           6 |            nan |                   nan |     nan |            nan |            nan |         1962 |             1 |              nan |                85289 | 564778           |           2016 |           479489 |      6488.3  |                        |                    nan |       6.05902e+13 |
|  3 |    3 | 12177905 | -0.10341    | 2017-01-01 00:00:00 |           |             |              | Central     | Single Family Residential |              |                     |            nan |         3   |          4 |              8 |               3   |         nan |            nan |       2376 |      2376 |       nan |       nan |       nan |      nan | Los Angeles County |          nan |            3 |       nan |           nan |       nan | 3.42452e+07 | -1.18241e+08 |      13038 |       1 |         nan |         nan |        nan |          1 | 0101             | LCR110000* |           6.0373e+07  |    396551 |        3101 |            nan |      96330 |           0 |            nan |                   nan |       1 |            nan |            nan |         1970 |           nan |              nan |               108918 | 145143           |           2016 |            36225 |      1777.51 |                        |                    nan |       6.0373e+13  |
|  4 |    4 | 10887214 |  0.00694036 | 2017-01-01 00:00:00 | Central   |             |              | Central     | Condominium               |              |                     |            nan |         3   |          3 |              8 |               3   |         nan |            nan |       1312 |      1312 |       nan |       nan |       nan |      nan | Los Angeles County |          nan |            3 |       nan |           nan |       nan | 3.41851e+07 | -1.18415e+08 |     278581 |       1 |         nan |         nan |        nan |          1 | 010C             | LAR3       |           6.03712e+07 |     12447 |        3101 |         268548 |      96451 |           0 |            nan |                   nan |       1 |            nan |            nan |         1964 |           nan |              nan |                73681 | 119407           |           2016 |            45726 |      1533.89 |                        |                    nan |       6.03712e+13 |

    DataFrame .info():
    -----------------

<class 'pandas.core.frame.DataFrame'>
Int64Index: 76521 entries, 0 to 76711
Data columns (total 62 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    76521 non-null  int64
 1   parcel                76521 non-null  int64
 2   logerror              76521 non-null  float64
 3   trans_date            76521 non-null  datetime64[ns]
 4   ac_type               24783 non-null  object
 5   arch_type             206 non-null    object
 6   build_type            0 non-null      object
 7   heat_type             49185 non-null  object
 8   land_use_type         76521 non-null  object
 9   story_type            50 non-null     object
 10  construction_type     222 non-null    object
 11  basementsqft          50 non-null     float64
 12  bathrooms             76521 non-null  float64
 13  bedrooms              76521 non-null  float64
 14  quality_type          49422 non-null  float64
 15  calc_bath_n_bed       76505 non-null  float64
 16  deck_type             612 non-null    float64
 17  floor_1_sqft          6006 non-null   float64
 18  tot_sqft              76521 non-null  float64
 19  sqft_12               73390 non-null  float64
 20  sqft_13               26 non-null     float64
 21  sqft_15               2927 non-null   float64
 22  sqft_50               6006 non-null   float64
 23  sqft_6                178 non-null    float64
 24  fips                  76521 non-null  object
 25  fireplaces            8247 non-null   float64
 26  full_baths            76505 non-null  float64
 27  garages               25287 non-null  float64
 28  garage_sqft           25287 non-null  float64
 29  hot_tub               1538 non-null   float64
 30  lat                   76521 non-null  float64
 31  lon                   76521 non-null  float64
 32  lot_sqft              68390 non-null  float64
 33  pools                 16048 non-null  float64
 34  pool_sqft             862 non-null    float64
 35  pool_id10             464 non-null    float64
 36  pool_id2              1074 non-null   float64
 37  pool_id7              14953 non-null  float64
 38  county_landuse        76521 non-null  object
 39  zoning                49917 non-null  object
 40  raw_tract_and_block   76521 non-null  float64
 41  city_id               75075 non-null  float64
 42  county_id             76521 non-null  float64
 43  neighborhood          30526 non-null  float64
 44  zip_code              76477 non-null  float64
 45  num_rooms             76521 non-null  float64
 46  stories_type          50 non-null     float64
 47  three_quarter_baths   10094 non-null  float64
 48  units                 49985 non-null  float64
 49  yard_sqft_17          2377 non-null   float64
 50  yard_sqft_26          70 non-null     float64
 51  year_built            76464 non-null  object
 52  num_stories           17336 non-null  float64
 53  fireplace_flag        172 non-null    float64
 54  building_tax_value    76437 non-null  float64
 55  tax_value             76521 non-null  float64
 56  year_assesed          76521 non-null  float64
 57  land_tax_value        76521 non-null  float64
 58  tax_amount            76516 non-null  float64
 59  tax_delinquency_flag  2852 non-null   object
 60  tax_delinquency_year  2852 non-null   float64
 61  tract_and_block       76301 non-null  float64
dtypes: datetime64[ns](1), float64(47), int64(2), object(12)
memory usage: 36.8+ MB
None
Number of Columns with nulls: 44

    DataFrame .describe():
    -----------------
|       |      id |          parcel |      logerror |   basementsqft |    bathrooms |    bedrooms |   quality_type |   calc_bath_n_bed |   deck_type |   floor_1_sqft |   tot_sqft |   sqft_12 |   sqft_13 |   sqft_15 |   sqft_50 |   sqft_6 |   fireplaces |   full_baths |      garages |   garage_sqft |   hot_tub |              lat |              lon |         lot_sqft |   pools |   pool_sqft |   pool_id10 |   pool_id2 |   pool_id7 |   raw_tract_and_block |   city_id |   county_id |   neighborhood |   zip_code |   num_rooms |   stories_type |   three_quarter_baths |        units |   yard_sqft_17 |   yard_sqft_26 |   num_stories |   fireplace_flag |   building_tax_value |        tax_value |   year_assesed |   land_tax_value |   tax_amount |   tax_delinquency_year |   tract_and_block |
|:------|--------:|----------------:|--------------:|---------------:|-------------:|------------:|---------------:|------------------:|------------:|---------------:|-----------:|----------:|----------:|----------:|----------:|---------:|-------------:|-------------:|-------------:|--------------:|----------:|-----------------:|-----------------:|-----------------:|--------:|------------:|------------:|-----------:|-----------:|----------------------:|----------:|------------:|---------------:|-----------:|------------:|---------------:|----------------------:|-------------:|---------------:|---------------:|--------------:|-----------------:|---------------------:|-----------------:|---------------:|-----------------:|-------------:|-----------------------:|------------------:|
| count | 76521   | 76521           | 76521         |         50     | 76521        | 76521       |    49422       |      76505        |         612 |       6006     |  76521     | 73390     |    26     |  2927     |  6006     |  178     |  8247        | 76505        | 25287        |     25287     |      1538 |  76521           |  76521           |  68390           |   16048 |     862     |         464 |       1074 |      14953 |       76521           |   75075   |   76521     |          30526 |   76477    | 76521       |             50 |          10094        | 49985        |       2377     |         70     |  17336        |              172 |       76437          |  76521           |          76521 |  76521           |     76516    |             2852       |   76301           |
| mean  | 38851.4 |     1.29929e+07 |     0.016456  |        679.72  |     2.32044  |     3.08681 |        6.53428 |          2.32044  |          66 |       1364.5   |   1784.13  |  1763.08  |  1375.38  |  2347.84  |  1379.8   | 1250.69  |     1.18989  |     2.25384  |     1.82667  |       352.331 |         1 |      3.40092e+07 |     -1.18203e+08 |  29820.3         |       1 |     518.092 |           1 |          1 |          1 |           6.04905e+07 |   33674   |    2537.03  |         187034 |   96587    |     1.49141 |              7 |              1.00961  |     1.09327  |        305.218 |        216.386 |      1.42957  |                1 |      188788          | 488694           |           2016 | 300114           |      5979.33 |               14.087   |       6.0496e+13  |
| std   | 22404.5 |     3.31108e+06 |     0.168209  |        689.704 |     0.978789 |     1.09967 |        1.7211  |          0.978795 |           0 |        668.634 |    940.759 |   932.694 |   128.218 |   968.766 |   724.192 |  809.124 |     0.489105 |     0.965785 |     0.572833 |       260.98  |         0 | 265422           | 358549           | 123294           |       0 |     156.166 |           0 |          0 |          0 |      205236           |   47227.3 |     800.745 |         165175 |    3819.19 |     2.83431 |              0 |              0.118642 |     0.421759 |        238.711 |        190.178 |      0.544421 |                0 |      223511          | 647844           |              0 | 490350           |      7554.89 |                2.19198 |       1.54339e+12 |
| min   |     0   |     1.07119e+07 |    -4.65542   |         38     |     1        |     1       |        1       |          1        |          66 |         44     |    152     |   152     |  1056     |   598     |    44     |  380     |     1        |     1        |     0        |         0     |         1 |      3.33395e+07 |     -1.19475e+08 |    236           |       1 |      24     |           1 |          1 |          1 |           6.0371e+07  |    3491   |    1286     |           6952 |   95982    |     0       |              7 |              1        |     1        |         11     |         12     |      1        |                1 |          44          |   1000           |           2016 |    161           |        19.92 |                3       |       6.0371e+13  |
| 25%   | 19465   |     1.15321e+07 |    -0.0242734 |        273     |     2        |     2       |        6       |          2        |          66 |        954.25  |   1184     |  1175     |  1344     |  1629.5   |   956     |  790.75  |     1        |     2        |     2        |         0     |         1 |      3.38157e+07 |     -1.18416e+08 |   5700           |       1 |     424     |           1 |          1 |          1 |           6.03731e+07 |   12447   |    1286     |          41466 |   96193    |     0       |              7 |              1        |     1        |        170     |         61.5   |      1        |                1 |       84476          | 207172           |           2016 |  85504           |      2720.42 |               14       |       6.03731e+13 |
| 50%   | 38894   |     1.25273e+07 |     0.0066161 |        515     |     2        |     3       |        6       |          2        |          66 |       1256     |   1543     |  1525     |  1440     |  2100     |  1259     |  982.5   |     1        |     2        |     2        |       437     |         1 |      3.40225e+07 |     -1.1818e+08  |   7201           |       1 |     500     |           1 |          1 |          1 |           6.0376e+07  |   25218   |    3101     |         118825 |   96389    |     0       |              7 |              1        |     1        |        250     |        164.5   |      1        |                1 |      136734          | 359000           |           2016 | 203559           |      4451.27 |               15       |       6.0376e+13  |
| 75%   | 58255   |     1.42094e+07 |     0.0390554 |        796.5   |     3        |     4       |        8       |          3        |          66 |       1614.75  |   2109     |  2077     |  1440     |  2839.5   |  1618.75  | 1318.25  |     1        |     3        |     2        |       493     |         1 |      3.4175e+07  |     -1.17929e+08 |  11744.5         |       1 |     600     |           1 |          1 |          1 |           6.05904e+07 |   45457   |    3101     |         274765 |   96986    |     0       |              7 |              1        |     1        |        364     |        310.5   |      2        |                1 |      218767          | 568540           |           2016 | 366162           |      6922    |               15       |       6.05904e+13 |
| max   | 77612   |     1.67689e+08 |     5.263     |       3560     |    18        |    16       |       12       |         18        |          66 |       6912     |  21929     | 21929     |  1560     |  7990     | 12467     | 5598     |     5        |    18        |    14        |      4251     |         1 |      3.48188e+07 |     -1.17555e+08 |      6.97101e+06 |       1 |    1500     |           1 |          1 |          1 |           6.11101e+07 |  396556   |    3101     |         764167 |  399675    |    15       |              7 |              7        |     6        |       3191     |        868     |      6        |                1 |           9.1649e+06 |      4.90612e+07 |           2016 |      4.89522e+07 |    586639    |               99       |       4.8303e+14  |

    Null Value Assessments:
    -----------------

        Nulls By Column:
|                      |   num_rows_missing |   percent_missing |
|:---------------------|-------------------:|------------------:|
| ac_type              |              51738 |       67.6128     |
| arch_type            |              76315 |       99.7308     |
| build_type           |              76521 |      100          |
| heat_type            |              27336 |       35.7235     |
| story_type           |              76471 |       99.9347     |
| construction_type    |              76299 |       99.7099     |
| basementsqft         |              76471 |       99.9347     |
| quality_type         |              27099 |       35.4138     |
| calc_bath_n_bed      |                 16 |        0.0209093  |
| deck_type            |              75909 |       99.2002     |
| floor_1_sqft         |              70515 |       92.1512     |
| sqft_12              |               3131 |        4.09169    |
| sqft_13              |              76495 |       99.966      |
| sqft_15              |              73594 |       96.1749     |
| sqft_50              |              70515 |       92.1512     |
| sqft_6               |              76343 |       99.7674     |
| fireplaces           |              68274 |       89.2226     |
| full_baths           |                 16 |        0.0209093  |
| garages              |              51234 |       66.9542     |
| garage_sqft          |              51234 |       66.9542     |
| hot_tub              |              74983 |       97.9901     |
| lot_sqft             |               8131 |       10.6258     |
| pools                |              60473 |       79.028      |
| pool_sqft            |              75659 |       98.8735     |
| pool_id10            |              76057 |       99.3936     |
| pool_id2             |              75447 |       98.5965     |
| pool_id7             |              61568 |       80.459      |
| zoning               |              26604 |       34.7669     |
| city_id              |               1446 |        1.88968    |
| neighborhood         |              45995 |       60.1077     |
| zip_code             |                 44 |        0.0575006  |
| stories_type         |              76471 |       99.9347     |
| three_quarter_baths  |              66427 |       86.8088     |
| units                |              26536 |       34.6781     |
| yard_sqft_17         |              74144 |       96.8937     |
| yard_sqft_26         |              76451 |       99.9085     |
| year_built           |                 57 |        0.0744894  |
| num_stories          |              59185 |       77.3448     |
| fireplace_flag       |              76349 |       99.7752     |
| building_tax_value   |                 84 |        0.109774   |
| tax_amount           |                  5 |        0.00653415 |
| tax_delinquency_flag |              73669 |       96.2729     |
| tax_delinquency_year |              73669 |       96.2729     |
| tract_and_block      |                220 |        0.287503   |
    -----------------

        Nulls By Row:
|    |   num_cols_missing |   percent_missing |   count |
|---:|-------------------:|------------------:|--------:|
|  0 |                 19 |           30.6452 |       2 |
|  1 |                 20 |           32.2581 |       3 |
|  2 |                 21 |           33.871  |      13 |
|  3 |                 22 |           35.4839 |      79 |
|  4 |                 23 |           37.0968 |     265 |
|  5 |                 24 |           38.7097 |     606 |
|  6 |                 25 |           40.3226 |     656 |
|  7 |                 26 |           41.9355 |    5740 |
|  8 |                 27 |           43.5484 |    7939 |
|  9 |                 28 |           45.1613 |   12352 |
| 10 |                 29 |           46.7742 |   20596 |
| 11 |                 30 |           48.3871 |   16035 |
| 12 |                 31 |           50      |    6314 |
| 13 |                 32 |           51.6129 |    3458 |
| 14 |                 33 |           53.2258 |    2043 |
| 15 |                 34 |           54.8387 |     246 |
| 16 |                 35 |           56.4516 |     168 |
| 17 |                 36 |           58.0645 |       6 |

    DataFrame .value_counts():
    -----------------

Column Name:  id
--------------

|                    |   id |
|:-------------------|-----:|
| (-77.613, 7761.2]  | 7640 |
| (7761.2, 15522.4]  | 7626 |
| (15522.4, 23283.6] | 7632 |
| (23283.6, 31044.8] | 7642 |
| (31044.8, 38806.0] | 7636 |
| (38806.0, 46567.2] | 7661 |
| (46567.2, 54328.4] | 7673 |
| (54328.4, 62089.6] | 7671 |
| (62089.6, 69850.8] | 7673 |
| (69850.8, 77612.0] | 7667 |

-------------
Column Name:  parcel
--------------

|                            |   parcel |
|:---------------------------|---------:|
| (10554878.322, 26409522.7] |    76494 |
| (26409522.7, 42107190.4]   |        0 |
| (42107190.4, 57804858.1]   |        0 |
| (57804858.1, 73502525.8]   |        0 |
| (73502525.8, 89200193.5]   |        1 |
| (89200193.5, 104897861.2]  |        1 |
| (104897861.2, 120595528.9] |        0 |
| (120595528.9, 136293196.6] |        0 |
| (136293196.6, 151990864.3] |        0 |
| (151990864.3, 167688532.0] |       25 |

-------------
Column Name:  logerror
--------------

|                  |   logerror |
|:-----------------|-----------:|
| (-4.666, -3.664] |          3 |
| (-3.664, -2.672] |          1 |
| (-2.672, -1.68]  |         36 |
| (-1.68, -0.688]  |        135 |
| (-0.688, 0.304]  |      74544 |
| (0.304, 1.296]   |       1637 |
| (1.296, 2.287]   |         95 |
| (2.287, 3.279]   |         68 |
| (3.279, 4.271]   |          1 |
| (4.271, 5.263]   |          1 |

-------------
Column Name:  trans_date
--------------

|                                                      |   trans_date |
|:-----------------------------------------------------|-------------:|
| (2016-12-31 17:35:31.199999999, 2017-01-27 16:48:00] |         6049 |
| (2017-01-27 16:48:00, 2017-02-23 09:36:00]           |         5772 |
| (2017-02-23 09:36:00, 2017-03-22 02:24:00]           |         7140 |
| (2017-03-22 02:24:00, 2017-04-17 19:12:00]           |         7717 |
| (2017-04-17 19:12:00, 2017-05-14 12:00:00]           |         8637 |
| (2017-05-14 12:00:00, 2017-06-10 04:48:00]           |         9211 |
| (2017-06-10 04:48:00, 2017-07-06 21:36:00]           |         9200 |
| (2017-07-06 21:36:00, 2017-08-02 14:24:00]           |         8679 |
| (2017-08-02 14:24:00, 2017-08-29 07:12:00]           |         8063 |
| (2017-08-29 07:12:00, 2017-09-25]                    |         6053 |

-------------
Column Name:  ac_type
--------------

|               |   ac_type |
|:--------------|----------:|
|               |     51738 |
| Central       |     22969 |
| Yes           |      1568 |
| None          |       167 |
| Wall Unit     |        53 |
| Refrigeration |        26 |

-------------
Column Name:  arch_type
--------------

|               |   arch_type |
|:--------------|------------:|
|               |       76315 |
| Contemporary  |         172 |
| Conventional  |          19 |
| Ranch/Rambler |           7 |
| Bungalow      |           5 |
| Cape Cod      |           3 |

-------------
Column Name:  build_type
--------------

|    |   build_type |
|:---|-------------:|
|    |        76521 |

-------------
Column Name:  heat_type
--------------

|            |   heat_type |
|:-----------|------------:|
| Central    |       33353 |
|            |       27336 |
| Floor/Wall |       14008 |
| Yes        |         846 |
| Forced air |         775 |
| Solar      |         104 |
| None       |          59 |
| Radiant    |          23 |
| Baseboard  |          13 |
| Gravity    |           3 |
| Heat Pump  |           1 |

-------------
Column Name:  land_use_type
--------------

|                                            |   land_use_type |
|:-------------------------------------------|----------------:|
| Single Family Residential                  |           52160 |
| Condominium                                |           19006 |
| Planned Unit Development                   |            1940 |
| Duplex (2 Units, Any Combination)          |            1843 |
| Quadruplex (4 Units, Any Combination)      |             615 |
| Triplex (3 Units, Any Combination)         |             485 |
| Cluster Home                               |             333 |
| Mobile Home                                |              59 |
| Manufactured, Modular, Prefabricated Homes |              35 |
| Cooperative                                |              29 |
| Residential General                        |              10 |
| Townhouse                                  |               6 |

-------------
Column Name:  story_type
--------------

|          |   story_type |
|:---------|-------------:|
|          |        76471 |
| Basement |           50 |

-------------
Column Name:  construction_type
--------------

|          |   construction_type |
|:---------|--------------------:|
|          |               76299 |
| Frame    |                 219 |
| Masonry  |                   1 |
| Metal    |                   1 |
| Concrete |                   1 |

-------------
Column Name:  basementsqft
--------------

|                             |   basementsqft |
|:----------------------------|---------------:|
| (34.477000000000004, 390.2] |             20 |
| (390.2, 742.4]              |             16 |
| (742.4, 1094.6]             |              7 |
| (1094.6, 1446.8]            |              3 |
| (1446.8, 1799.0]            |              0 |
| (1799.0, 2151.2]            |              2 |
| (2151.2, 2503.4]            |              0 |
| (2503.4, 2855.6]            |              0 |
| (2855.6, 3207.8]            |              1 |
| (3207.8, 3560.0]            |              1 |

-------------
Column Name:  bathrooms
--------------

|              |   bathrooms |
|:-------------|------------:|
| (0.982, 2.7] |       52153 |
| (2.7, 4.4]   |       21686 |
| (4.4, 6.1]   |        2360 |
| (6.1, 7.8]   |         176 |
| (7.8, 9.5]   |         134 |
| (9.5, 11.2]  |          10 |
| (11.2, 12.9] |           0 |
| (12.9, 14.6] |           1 |
| (14.6, 16.3] |           0 |
| (16.3, 18.0] |           1 |

-------------
Column Name:  bedrooms
--------------

|              |   bedrooms |
|:-------------|-----------:|
| (0.984, 2.5] |      22534 |
| (2.5, 4.0]   |      47860 |
| (4.0, 5.5]   |       4542 |
| (5.5, 7.0]   |       1206 |
| (7.0, 8.5]   |        252 |
| (8.5, 10.0]  |        101 |
| (10.0, 11.5] |          8 |
| (11.5, 13.0] |         16 |
| (13.0, 14.5] |          1 |
| (14.5, 16.0] |          1 |

-------------
Column Name:  quality_type
--------------

|              |   quality_type |
|:-------------|---------------:|
| (0.988, 2.1] |             32 |
| (2.1, 3.2]   |            322 |
| (3.2, 4.3]   |           9443 |
| (4.3, 5.4]   |           2071 |
| (5.4, 6.5]   |          13421 |
| (6.5, 7.6]   |           5923 |
| (7.6, 8.7]   |          14582 |
| (8.7, 9.8]   |           2277 |
| (9.8, 10.9]  |            308 |
| (10.9, 12.0] |           1043 |

-------------
Column Name:  calc_bath_n_bed
--------------

|              |   calc_bath_n_bed |
|:-------------|------------------:|
| (0.982, 2.7] |             52138 |
| (2.7, 4.4]   |             21686 |
| (4.4, 6.1]   |              2359 |
| (6.1, 7.8]   |               176 |
| (7.8, 9.5]   |               134 |
| (9.5, 11.2]  |                10 |
| (11.2, 12.9] |                 0 |
| (12.9, 14.6] |                 1 |
| (14.6, 16.3] |                 0 |
| (16.3, 18.0] |                 1 |

-------------
Column Name:  deck_type
--------------

|                             |   deck_type |
|:----------------------------|------------:|
| (65.93299999999999, 65.947] |           0 |
| (65.947, 65.96]             |           0 |
| (65.96, 65.974]             |           0 |
| (65.974, 65.987]            |           0 |
| (65.987, 66.0]              |         612 |
| (66.0, 66.013]              |           0 |
| (66.013, 66.026]            |           0 |
| (66.026, 66.04]             |           0 |
| (66.04, 66.053]             |           0 |
| (66.053, 66.066]            |           0 |

-------------
Column Name:  floor_1_sqft
--------------

|                  |   floor_1_sqft |
|:-----------------|---------------:|
| (37.131, 730.8]  |            701 |
| (730.8, 1417.6]  |           3019 |
| (1417.6, 2104.4] |           1730 |
| (2104.4, 2791.2] |            335 |
| (2791.2, 3478.0] |            132 |
| (3478.0, 4164.8] |             42 |
| (4164.8, 4851.6] |             25 |
| (4851.6, 5538.4] |             12 |
| (5538.4, 6225.2] |              6 |
| (6225.2, 6912.0] |              4 |

-------------
Column Name:  tot_sqft
--------------

|                    |   tot_sqft |
|:-------------------|-----------:|
| (130.222, 2329.7]  |      61531 |
| (2329.7, 4507.4]   |      13630 |
| (4507.4, 6685.1]   |       1132 |
| (6685.1, 8862.8]   |        165 |
| (8862.8, 11040.5]  |         44 |
| (11040.5, 13218.2] |         12 |
| (13218.2, 15395.9] |          2 |
| (15395.9, 17573.6] |          2 |
| (17573.6, 19751.3] |          1 |
| (19751.3, 21929.0] |          2 |

-------------
Column Name:  sqft_12
--------------

|                    |   sqft_12 |
|:-------------------|----------:|
| (130.222, 2329.7]  |     59610 |
| (2329.7, 4507.4]   |     12521 |
| (4507.4, 6685.1]   |      1037 |
| (6685.1, 8862.8]   |       159 |
| (8862.8, 11040.5]  |        44 |
| (11040.5, 13218.2] |        12 |
| (13218.2, 15395.9] |         2 |
| (15395.9, 17573.6] |         2 |
| (17573.6, 19751.3] |         1 |
| (19751.3, 21929.0] |         2 |

-------------
Column Name:  sqft_13
--------------

|                              |   sqft_13 |
|:-----------------------------|----------:|
| (1055.4950000000001, 1106.4] |         1 |
| (1106.4, 1156.8]             |         2 |
| (1156.8, 1207.2]             |         1 |
| (1207.2, 1257.6]             |         2 |
| (1257.6, 1308.0]             |         0 |
| (1308.0, 1358.4]             |         4 |
| (1358.4, 1408.8]             |         2 |
| (1408.8, 1459.2]             |         9 |
| (1459.2, 1509.6]             |         2 |
| (1509.6, 1560.0]             |         3 |

-------------
Column Name:  sqft_15
--------------

|                   |   sqft_15 |
|:------------------|----------:|
| (590.607, 1337.2] |       253 |
| (1337.2, 2076.4]  |      1182 |
| (2076.4, 2815.6]  |       740 |
| (2815.6, 3554.8]  |       377 |
| (3554.8, 4294.0]  |       232 |
| (4294.0, 5033.2]  |       100 |
| (5033.2, 5772.4]  |        32 |
| (5772.4, 6511.6]  |         5 |
| (6511.6, 7250.8]  |         4 |
| (7250.8, 7990.0]  |         2 |

-------------
Column Name:  sqft_50
--------------

|                    |   sqft_50 |
|:-------------------|----------:|
| (31.576, 1286.3]   |      3132 |
| (1286.3, 2528.6]   |      2548 |
| (2528.6, 3770.9]   |       237 |
| (3770.9, 5013.2]   |        61 |
| (5013.2, 6255.5]   |        17 |
| (6255.5, 7497.8]   |         7 |
| (7497.8, 8740.1]   |         2 |
| (8740.1, 9982.4]   |         1 |
| (9982.4, 11224.7]  |         0 |
| (11224.7, 12467.0] |         1 |

-------------
Column Name:  sqft_6
--------------

|                  |   sqft_6 |
|:-----------------|---------:|
| (374.781, 901.8] |       61 |
| (901.8, 1423.6]  |       80 |
| (1423.6, 1945.4] |       15 |
| (1945.4, 2467.2] |        8 |
| (2467.2, 2989.0] |        4 |
| (2989.0, 3510.8] |        3 |
| (3510.8, 4032.6] |        3 |
| (4032.6, 4554.4] |        3 |
| (4554.4, 5076.2] |        0 |
| (5076.2, 5598.0] |        1 |

-------------
Column Name:  fips
--------------

|                    |   fips |
|:-------------------|-------:|
| Los Angeles County |  50135 |
| Orange County      |  20276 |
| Ventura County     |   6110 |

-------------
Column Name:  fireplaces
--------------

|              |   fireplaces |
|:-------------|-------------:|
| (0.995, 1.4] |         6990 |
| (1.4, 1.8]   |            0 |
| (1.8, 2.2]   |          988 |
| (2.2, 2.6]   |            0 |
| (2.6, 3.0]   |          232 |
| (3.0, 3.4]   |            0 |
| (3.4, 3.8]   |            0 |
| (3.8, 4.2]   |           34 |
| (4.2, 4.6]   |            0 |
| (4.6, 5.0]   |            3 |

-------------
Column Name:  full_baths
--------------

|              |   full_baths |
|:-------------|-------------:|
| (0.982, 2.7] |        52155 |
| (2.7, 4.4]   |        22385 |
| (4.4, 6.1]   |         1698 |
| (6.1, 7.8]   |          121 |
| (7.8, 9.5]   |          134 |
| (9.5, 11.2]  |           10 |
| (11.2, 12.9] |            0 |
| (12.9, 14.6] |            1 |
| (14.6, 16.3] |            0 |
| (16.3, 18.0] |            1 |

-------------
Column Name:  garages
--------------

|               |   garages |
|:--------------|----------:|
| (-0.015, 1.4] |      5736 |
| (1.4, 2.8]    |     18593 |
| (2.8, 4.2]    |       885 |
| (4.2, 5.6]    |        45 |
| (5.6, 7.0]    |        18 |
| (7.0, 8.4]    |         2 |
| (8.4, 9.8]    |         2 |
| (9.8, 11.2]   |         4 |
| (11.2, 12.6]  |         0 |
| (12.6, 14.0]  |         2 |

-------------
Column Name:  garage_sqft
--------------

|                             |   garage_sqft |
|:----------------------------|--------------:|
| (-4.252000000000001, 425.1] |         11763 |
| (425.1, 850.2]              |         13148 |
| (850.2, 1275.3]             |           322 |
| (1275.3, 1700.4]            |            38 |
| (1700.4, 2125.5]            |             6 |
| (2125.5, 2550.6]            |             2 |
| (2550.6, 2975.7]            |             4 |
| (2975.7, 3400.8]            |             2 |
| (3400.8, 3825.9]            |             1 |
| (3825.9, 4251.0]            |             1 |

-------------
Column Name:  hot_tub
--------------

|                  |   hot_tub |
|:-----------------|----------:|
| (0.9989, 0.9992] |         0 |
| (0.9992, 0.9994] |         0 |
| (0.9994, 0.9996] |         0 |
| (0.9996, 0.9998] |         0 |
| (0.9998, 1.0]    |      1538 |
| (1.0, 1.0002]    |         0 |
| (1.0002, 1.0004] |         0 |
| (1.0004, 1.0006] |         0 |
| (1.0006, 1.0008] |         0 |
| (1.0008, 1.001]  |         0 |

-------------
Column Name:  lat
--------------

|                                  |   lat |
|:---------------------------------|------:|
| (33338047.759000003, 33487451.0] |  1000 |
| (33487451.0, 33635375.0]         |  5254 |
| (33635375.0, 33783299.0]         |  9870 |
| (33783299.0, 33931223.0]         | 14658 |
| (33931223.0, 34079147.0]         | 14031 |
| (34079147.0, 34227071.0]         | 18723 |
| (34227071.0, 34374995.0]         |  6208 |
| (34374995.0, 34522919.0]         |  3128 |
| (34522919.0, 34670843.0]         |  2318 |
| (34670843.0, 34818767.0]         |  1331 |

-------------
Column Name:  lon
--------------

|                                |   lon |
|:-------------------------------|------:|
| (-119477336.781, -119283338.0] |   211 |
| (-119283338.0, -119091260.0]   |  1940 |
| (-119091260.0, -118899182.0]   |  1445 |
| (-118899182.0, -118707104.0]   |  2644 |
| (-118707104.0, -118515026.0]   |  5911 |
| (-118515026.0, -118322948.0]   | 15282 |
| (-118322948.0, -118130870.0]   | 15150 |
| (-118130870.0, -117938792.0]   | 14116 |
| (-117938792.0, -117746714.0]   | 12500 |
| (-117746714.0, -117554636.0]   |  7322 |

-------------
Column Name:  lot_sqft
--------------

|                                |   lot_sqft |
|:-------------------------------|-----------:|
| (-6734.775000000001, 697313.4] |      68112 |
| (697313.4, 1394390.8]          |        221 |
| (1394390.8, 2091468.2]         |         38 |
| (2091468.2, 2788545.6]         |          2 |
| (2788545.6, 3485623.0]         |          1 |
| (3485623.0, 4182700.4]         |          9 |
| (4182700.4, 4879777.8]         |          0 |
| (4879777.8, 5576855.2]         |          0 |
| (5576855.2, 6273932.6]         |          0 |
| (6273932.6, 6971010.0]         |          7 |

-------------
Column Name:  pools
--------------

|                  |   pools |
|:-----------------|--------:|
| (0.9989, 0.9992] |       0 |
| (0.9992, 0.9994] |       0 |
| (0.9994, 0.9996] |       0 |
| (0.9996, 0.9998] |       0 |
| (0.9998, 1.0]    |   16048 |
| (1.0, 1.0002]    |       0 |
| (1.0002, 1.0004] |       0 |
| (1.0004, 1.0006] |       0 |
| (1.0006, 1.0008] |       0 |
| (1.0008, 1.001]  |       0 |

-------------
Column Name:  pool_sqft
--------------

|                  |   pool_sqft |
|:-----------------|------------:|
| (22.523, 171.6]  |           6 |
| (171.6, 319.2]   |          47 |
| (319.2, 466.8]   |         321 |
| (466.8, 614.4]   |         305 |
| (614.4, 762.0]   |         121 |
| (762.0, 909.6]   |          48 |
| (909.6, 1057.2]  |           7 |
| (1057.2, 1204.8] |           5 |
| (1204.8, 1352.4] |           0 |
| (1352.4, 1500.0] |           2 |

-------------
Column Name:  pool_id10
--------------

|                  |   pool_id10 |
|:-----------------|------------:|
| (0.9989, 0.9992] |           0 |
| (0.9992, 0.9994] |           0 |
| (0.9994, 0.9996] |           0 |
| (0.9996, 0.9998] |           0 |
| (0.9998, 1.0]    |         464 |
| (1.0, 1.0002]    |           0 |
| (1.0002, 1.0004] |           0 |
| (1.0004, 1.0006] |           0 |
| (1.0006, 1.0008] |           0 |
| (1.0008, 1.001]  |           0 |

-------------
Column Name:  pool_id2
--------------

|                  |   pool_id2 |
|:-----------------|-----------:|
| (0.9989, 0.9992] |          0 |
| (0.9992, 0.9994] |          0 |
| (0.9994, 0.9996] |          0 |
| (0.9996, 0.9998] |          0 |
| (0.9998, 1.0]    |       1074 |
| (1.0, 1.0002]    |          0 |
| (1.0002, 1.0004] |          0 |
| (1.0004, 1.0006] |          0 |
| (1.0006, 1.0008] |          0 |
| (1.0008, 1.001]  |          0 |

-------------
Column Name:  pool_id7
--------------

|                  |   pool_id7 |
|:-----------------|-----------:|
| (0.9989, 0.9992] |          0 |
| (0.9992, 0.9994] |          0 |
| (0.9994, 0.9996] |          0 |
| (0.9996, 0.9998] |          0 |
| (0.9998, 1.0]    |      14953 |
| (1.0, 1.0002]    |          0 |
| (1.0002, 1.0004] |          0 |
| (1.0004, 1.0006] |          0 |
| (1.0006, 1.0008] |          0 |
| (1.0008, 1.001]  |          0 |

-------------
Column Name:  county_landuse
--------------

|      |   county_landuse |
|:-----|-----------------:|
| 0100 |            26675 |
| 122  |            13011 |
| 010C |             8701 |
| 0101 |             6398 |
| 34   |             4888 |
| 1111 |             3347 |
| 1    |             2353 |
| 010D |             1940 |
| 010E |             1933 |
| 0200 |             1800 |
| 1129 |             1378 |
| 1110 |             1007 |
| 0400 |              606 |
| 0300 |              475 |
| 012C |              383 |
| 0104 |              367 |
| 1128 |              333 |
| 01DC |              211 |
| 01HC |              135 |
| 0103 |               91 |
| 010G |               75 |
| 0108 |               57 |
| 010H |               57 |
| 010M |               52 |
| 0700 |               50 |
| 1117 |               32 |
| 010F |               29 |
| 0201 |               23 |
| 38   |               13 |
| 010V |               10 |
| 01HE |                9 |
| 0109 |                8 |
| 135  |                8 |
| 1116 |                7 |
| 0110 |                6 |
| 0113 |                6 |
| 012E |                5 |
| 0141 |                4 |
| 0401 |                4 |
| 1120 |                3 |
| 96   |                3 |
| 0102 |                3 |
| 0105 |                3 |
| 1222 |                2 |
| 0111 |                2 |
| 0130 |                2 |
| 070D |                2 |
| 040G |                1 |
| 020M |                1 |
| 020G |                1 |
| 030G |                1 |
| 0203 |                1 |
| 0114 |                1 |
| 1112 |                1 |
| 012D |                1 |
| 040B |                1 |
| 0301 |                1 |
| 0133 |                1 |
| 0204 |                1 |
| 0131 |                1 |
| 020E |                1 |

-------------
Column Name:  zoning
--------------

|            |   zoning |
|:-----------|---------:|
|            |    26604 |
| LAR1       |     6731 |
| LAR3       |     2409 |
| LARS       |     1389 |
| LBR1N      |     1219 |
| LARD1.5    |     1117 |
| LAR2       |     1023 |
| SCUR2      |      956 |
| LARD2      |      838 |
| LARA       |      652 |
| LARE11     |      628 |
| LARE15     |      569 |
| TORR-LO    |      543 |
| LCR1YY     |      490 |
| SCUR3      |      461 |
| LAR4       |      391 |
| LKR1YY     |      381 |
| LARD3      |      373 |
| PSR6       |      343 |
| LCR1*      |      309 |
| LCA11*     |      293 |
| LCA22*     |      290 |
| PDR1*      |      287 |
| GLR1YY     |      286 |
| CARS*      |      252 |
| LCA21*     |      244 |
| BUR1YY     |      241 |
| MNRS       |      228 |
| LBR2N      |      220 |
| NOR1YY     |      220 |
| LAC2       |      216 |
| CORL*      |      210 |
| LCR3*      |      200 |
| LCA25*     |      199 |
| WDR4*      |      198 |
| PRSF*      |      198 |
| SCSP       |      191 |
| LCA106     |      190 |
| LAR5       |      182 |
| LMR1*      |      181 |
| ALRPD*     |      177 |
| SMR2*      |      174 |
| PSR4       |      172 |
| LRA22*     |      172 |
| LCR2*      |      167 |
| LCR175     |      159 |
| LRR7000*   |      158 |
| GLR4*      |      157 |
| GDR1       |      157 |
| SCUR1      |      156 |
| DOR105     |      150 |
| LKR1*      |      149 |
| BPR1*      |      148 |
| WCR1YY     |      147 |
| LBR4R      |      145 |
| SMR1*      |      145 |
| LCR17500*  |      143 |
| LAWC       |      141 |
| POR17200*  |      140 |
| LARE40     |      140 |
| CERS5000   |      139 |
| LCRA7000*  |      139 |
| PSR3       |      139 |
| PSR1       |      139 |
| LCA110000* |      133 |
| LARE9      |      131 |
| BUR1*      |      129 |
| GAR1       |      129 |
| BUR4*      |      125 |
| LCA16000*  |      125 |
| LRRA7000*  |      125 |
| GLR1*      |      122 |
| TORR-MD    |      121 |
| RBR-1      |      117 |
| LBPD1      |      114 |
| LRRA7500*  |      112 |
| LCR2YY     |      112 |
| GLR4YY     |      110 |
| LCRA06     |      110 |
| LARE20     |      110 |
| RPRS10000* |      106 |
| LRRA6500*  |      102 |
| LARD5      |      102 |
| LCA1*      |      100 |
| WCPCD1*    |      100 |
| LCR18000*  |       99 |
| CLRS10000* |       97 |
| HAR1YY     |       97 |
| WHR1YY     |       95 |
| NOR1*      |       95 |
| LRR17000*  |       94 |
| BHR1*      |       93 |
| SCUR4      |       92 |
| LCR106     |       90 |
| LCR110000* |       90 |
| LBR4N      |       89 |
| LARD6      |       89 |
| LCRPD10000 |       88 |
| LCA1YY     |       88 |
| MPR1YY     |       87 |
| RBR-2      |       87 |
| PVR1*      |       85 |
| WHR106     |       84 |
| MNR1YY     |       84 |
| ARR1YY     |       82 |
| WCR1*      |       81 |
| PARM*      |       79 |
| SLR1YY     |       78 |
| PDR17000*  |       77 |
| LCR105     |       77 |
| WCR17500*  |       74 |
| INR1YY     |       72 |
| LBPD6      |       72 |
| LCR3YY     |       72 |
| LAC2(PV)   |       71 |
| LCR171/2   |       70 |
| SCUR5      |       70 |
| GAR3       |       70 |
| MORL*      |       69 |
| CVR17500*  |       69 |
| BFR1*      |       69 |
| LPR1YY     |       68 |
| LCR320U*   |       67 |
| MORH*      |       67 |
| CCR3*      |       67 |
| CARM25U&D* |       67 |
| ARR3*      |       66 |
| RBR-3      |       66 |
| NOR105     |       65 |
| LMPUD*     |       65 |
| POPRD*     |       64 |
| LBR1S      |       64 |
| POR16000*  |       63 |
| LOR1*      |       63 |
| LARD4      |       63 |
| LFR115000* |       62 |
| LYR1YY     |       61 |
| LNR2YY     |       61 |
| LBPD5      |       61 |
| SPR110000* |       61 |
| PVR1YY     |       60 |
| GDE4       |       60 |
| LAC4       |       60 |
| DOR15000*  |       60 |
| LCRA1*     |       59 |
| AHR17000*  |       59 |
| WAR17200*  |       57 |
| SFR1*      |       57 |
| MPR3*      |       56 |
| INR2YY     |       56 |
| CCR1YY     |       56 |
| RPRS-4*    |       56 |
| PDSP       |       55 |
| LCA2       |       55 |
| SGR3YY     |       55 |
| ALR1YY     |       53 |
| CORM*      |       53 |
| LBR3T      |       53 |
| LBR3S      |       53 |
| LCC2*      |       53 |
| LCR3800030 |       52 |
| LCRA6000*  |       52 |
| SGR1YY     |       52 |
| PSC-       |       52 |
| LCR4YY     |       52 |
| ARR1*      |       51 |
| LCRPD20000 |       51 |
| DUR16500*  |       51 |
| RBR-1A     |       51 |
| BHR4*      |       50 |
| TCR172     |       49 |
| LVPR4.5D*  |       49 |
| LRR16500*  |       48 |
| PDA21*     |       48 |
| TORR-LM    |       48 |
| INR3YY     |       48 |
| POR3*      |       47 |
| LRR16000*  |       47 |
| TOPR-MD    |       46 |
| ESR1YY     |       46 |
| LCRA10000* |       46 |
| LBR2S      |       46 |
| INR3*      |       46 |
| BPR3*      |       45 |
| LRR7000    |       45 |
| EMR3*      |       45 |
| SMOP2*     |       44 |
| LRRA10000* |       44 |
| LCR16000*  |       44 |
| ATR16000*  |       44 |
| RMR1YY     |       44 |
| MPR1*      |       44 |
| LHRA1*     |       43 |
| ESCM*      |       43 |
| LCRA30000* |       42 |
| SHR4*      |       42 |
| MORM*      |       42 |
| PSR2       |       42 |
| CCPD*      |       42 |
| SMR3*      |       41 |
| RPRS8000*  |       41 |
| WHR1*      |       41 |
| LRRA6000*  |       41 |
| PDRPD-1-12 |       40 |
| LRR17500*  |       40 |
| CORH*      |       40 |
| BUR3*      |       40 |
| BFR1YY     |       39 |
| LCR110     |       39 |
| LAC4(OX)   |       39 |
| PDA1*      |       39 |
| LCR11L     |       39 |
| RPRS20000* |       38 |
| POR106     |       38 |
| GLR3*      |       38 |
| LBPD10     |       38 |
| SDSF7500*  |       37 |
| DOR175     |       37 |
| CVR171/2   |       37 |
| LCRA40000* |       37 |
| HBR1YY     |       37 |
| CVR1*      |       37 |
| SER1*      |       36 |
| EMR3YY     |       36 |
| NOR15000*  |       36 |
| ALR1*      |       36 |
| LRR6000*   |       36 |
| CLRS13000* |       36 |
| MNRM       |       36 |
| LVPR3D*    |       36 |
| LCRA20000* |       36 |
| RBMDR*     |       35 |
| CLRS8000*  |       35 |
| PDR1       |       35 |
| PDRPD12U*  |       35 |
| SSR1YY     |       35 |
| LBPD14     |       35 |
| MNRH       |       34 |
| LCRPD60005 |       34 |
| LCR3800015 |       34 |
| LCA121/2*  |       33 |
| BHR1YY     |       33 |
| LBR2A      |       33 |
| GLR3R*     |       33 |
| WDR1B*     |       33 |
| WHR4*      |       32 |
| LCRA*      |       32 |
| GLR1RY     |       32 |
| LCC3*      |       31 |
| TCR1YY     |       31 |
| MNR1*      |       31 |
| PSR*       |       31 |
| LCR108     |       31 |
| POR172     |       31 |
| CVR175     |       31 |
| PDRPD15U*  |       30 |
| LFR110000* |       30 |
| WHR16000*  |       30 |
| LCR19000*  |       30 |
| LKMFR*     |       30 |
| AZR1       |       30 |
| HBR2YY     |       29 |
| GDE6       |       29 |
| PDSP*      |       29 |
| CERS6500   |       29 |
| ATA10000*  |       28 |
| RBPDR*     |       28 |
| HBR3YY     |       27 |
| AZR3B*     |       27 |
| LVPR2D*    |       27 |
| MPR2*      |       27 |
| LFR17500*  |       27 |
| DOR17500*  |       27 |
| AZR1C*     |       27 |
| RBR4*      |       27 |
| EMR1B*     |       27 |
| LRR10000*  |       27 |
| LCRAYY     |       27 |
| HAR3YY     |       27 |
| LCR15000*  |       27 |
| LCM1*      |       26 |
| AZR1CY     |       26 |
| SRR1-CUP*  |       26 |
| BFR105     |       26 |
| LR-R1OOOO  |       26 |
| SCNU5      |       26 |
| GDE5       |       26 |
| SSR1*      |       25 |
| LAA1       |       25 |
| EMR1A*     |       25 |
| SGR1*      |       25 |
| SLR1*      |       25 |
| AZR3A*     |       25 |
| LCA210-A22 |       25 |
| RMR1*      |       25 |
| LBPD30     |       25 |
| LVPR10A*   |       25 |
| GAR2       |       25 |
| LACM(GM)   |       25 |
| GLR1-R*    |       25 |
| TCR105     |       25 |
| TCR1*      |       25 |
| LCA210*    |       25 |
| LRD21*     |       24 |
| LRR1*      |       24 |
| WARPD14800 |       24 |
| WDR3C*     |       24 |
| POR31000*  |       24 |
| LBR34      |       24 |
| LRR2*      |       24 |
| LCRA1L     |       24 |
| LCR120     |       24 |
| COCL*      |       24 |
| ARROD*     |       24 |
| LCR1       |       24 |
| LCR305     |       24 |
| LCA12*     |       24 |
| SOR109     |       24 |
| LFR120*    |       24 |
| POR17500*  |       24 |
| LCR120000* |       24 |
| RBR2YY     |       24 |
| BHR4YY     |       23 |
| PDRPD1OU*  |       23 |
| SOR112     |       23 |
| HGR2*      |       23 |
| LBR1L      |       23 |
| HHRAS1*    |       23 |
| LBCNR      |       23 |
| CASP-4*    |       22 |
| LBR2L      |       22 |
| LCA105     |       22 |
| SGR3*      |       22 |
| CCR2YY     |       22 |
| LCR4*      |       22 |
| BLR3YY     |       22 |
| LRSP80-01* |       22 |
| EMR1BY     |       22 |
| BFR3*      |       22 |
| CEADP3     |       22 |
| HBR3*      |       22 |
| BFA1*      |       22 |
| LCRPD80009 |       21 |
| LYR3YY     |       21 |
| WHR2YY     |       21 |
| RERPD6U*   |       21 |
| LAR4(PV)   |       21 |
| PDA2*      |       21 |
| LCRA75     |       21 |
| WDR2*      |       21 |
| LBPD11     |       20 |
| LCA15000*  |       20 |
| WHRE20000* |       20 |
| PDR1-7000  |       20 |
| LCRA15000* |       20 |
| RPRS13000* |       20 |
| SCOS       |       20 |
| SGR17500SI |       20 |
| RMR2*      |       20 |
| PAR1YY     |       20 |
| CLRS*      |       19 |
| WAC3-RPD28 |       19 |
| AZR3C*     |       19 |
| HPR3*      |       19 |
| LCC1*      |       19 |
| RERA20000* |       19 |
| POR2*      |       19 |
| TCR2*      |       19 |
| DOR110000* |       19 |
| LYR1*      |       19 |
| SPR310000* |       19 |
| BFR2PD*    |       19 |
| AHRPD51U*  |       19 |
| GLR1R*     |       19 |
| LCA11L     |       19 |
| PDR2*      |       19 |
| LBCO       |       19 |
| SRR1YY     |       18 |
| PDRPD10U*  |       18 |
| WCR120000* |       18 |
| BLR3*      |       18 |
| BGR3*      |       18 |
| EMR1AY     |       18 |
| CERM       |       18 |
| LCA171/2   |       18 |
| PDR16000*  |       18 |
| LFR140000* |       18 |
| LMR1AWH*   |       18 |
| DOR1&HFB*  |       18 |
| DOR106     |       18 |
| PDR17000   |       18 |
| LCRA7500*  |       18 |
| SHCTC*     |       18 |
| HPR3YY     |       17 |
| MNRPD      |       17 |
| COPRH*     |       17 |
| LARZ4      |       17 |
| LCRPD50003 |       17 |
| WCR19450*  |       17 |
| MPR2YY     |       17 |
| CCR4*      |       17 |
| RPRM5400*  |       17 |
| SDSFH*     |       16 |
| MNR4D46PD* |       16 |
| CLRA1*     |       16 |
| RBR4YY     |       16 |
| LCRA10     |       16 |
| PDR17500*  |       16 |
| LACM       |       16 |
| LRRPD10000 |       16 |
| GDR2       |       16 |
| LNR2*      |       16 |
| LPR1*      |       16 |
| LCRA05     |       16 |
| PAR1*      |       16 |
| SDAP*      |       16 |
| MYR3YY     |       16 |
| LFR120000* |       16 |
| HAM2*      |       16 |
| LRSRR*     |       16 |
| HAR2*      |       16 |
| ESR3*      |       15 |
| CLRM4000*  |       15 |
| PDA2       |       15 |
| WARPD16800 |       15 |
| BFR2*      |       15 |
| LCRA62     |       15 |
| ARR3YY     |       15 |
| LCRPD50002 |       15 |
| LCRR*      |       15 |
| LPR106     |       15 |
| SHR3*      |       15 |
| RPRS20000& |       15 |
| DOR171/2   |       15 |
| LRRI-7000  |       15 |
| LCR112000* |       14 |
| LAA2       |       14 |
| CVR110000* |       14 |
| LCA22      |       14 |
| NOR3*      |       14 |
| WCR1AD1*   |       14 |
| DOR1*      |       14 |
| LASED      |       14 |
| LAC5       |       14 |
| LCR317UDP* |       14 |
| SCCR       |       14 |
| LRR110000* |       14 |
| PAR2*      |       14 |
| WCPCD110DU |       14 |
| SOR110     |       14 |
| LCA11OOOO* |       14 |
| WHR171/2   |       14 |
| GAR4       |       14 |
| CCR1AY     |       14 |
| MORPD*     |       14 |
| EMR1YY     |       14 |
| WVRPD12U*  |       14 |
| PDR1 7000  |       14 |
| MORF*      |       14 |
| RMR2YY     |       14 |
| WHR172     |       14 |
| GDR_GA_PD  |       14 |
| HAR3*      |       13 |
| SCNU4      |       13 |
| RBR2*      |       13 |
| SSR3PD*    |       13 |
| LPR3*      |       13 |
| SDSF7500RP |       13 |
| WVR16000*  |       13 |
| MNR3YY     |       13 |
| WCR3-MF15* |       13 |
| TOPR-LM    |       13 |
| RBR-3A     |       13 |
| MPR3YY     |       13 |
| WCRA*      |       13 |
| TODC-CTR   |       13 |
| LARE       |       13 |
| LCR115000- |       13 |
| DUR17500*  |       13 |
| MNR3*      |       13 |
| LCA15*     |       13 |
| LCRA07     |       13 |
| LACW       |       13 |
| POR1YY     |       13 |
| LKPDSF*    |       13 |
| LYR2YY     |       13 |
| LCRA7OOO   |       13 |
| CARM18U&D* |       12 |
| HBR1*      |       12 |
| LYR3*      |       12 |
| LAC1       |       12 |
| WHR109     |       12 |
| LCRA71/2   |       12 |
| PDRPD-3U*  |       12 |
| PRRM*      |       12 |
| AHRPD10000 |       12 |
| LCRPD60002 |       12 |
| SPR1E*     |       12 |
| HBR2*      |       12 |
| SMR4*      |       12 |
| LCRPD-5000 |       12 |
| LORVD1500* |       12 |
| LCR330U*   |       12 |
| GLR2*      |       12 |
| PDRPD7OOO6 |       12 |
| LCR172     |       12 |
| PDA22*     |       12 |
| LCR315U*   |       12 |
| PDR3*      |       12 |
| POM*       |       11 |
| LBPD29     |       11 |
| LVR1-PR6A* |       11 |
| COR1*      |       11 |
| LRR1       |       11 |
| LCA210000* |       11 |
| BFR106     |       11 |
| SRR175     |       11 |
| CCR1*      |       11 |
| DUR4*      |       11 |
| SLR3*      |       11 |
| SLR2YY     |       11 |
| WVR3       |       11 |
| LMC4*      |       11 |
| LAM3       |       11 |
| DOR3*      |       11 |
| ARR0YY     |       11 |
| DUR3*      |       11 |
| AVR3*      |       11 |
| HPR1YY     |       11 |
| LAM1       |       11 |
| LRRA1OOOO- |       11 |
| ARR110000D |       11 |
| ARR2YY     |       11 |
| POC3*      |       11 |
| LR-R1OOOO* |       11 |
| PDRPD6.6U* |       11 |
| WDR3A*     |       11 |
| DOR2*      |       11 |
| SDSFA10000 |       11 |
| LCR17OOO*  |       10 |
| SDMFD*     |       10 |
| RBR3YY     |       10 |
| GDR3       |       10 |
| LRR17000   |       10 |
| ARR1D*     |       10 |
| SDRPD10*   |       10 |
| LCRPD50001 |       10 |
| BPR3       |       10 |
| LCA120000* |       10 |
| SDSF9000*  |       10 |
| BUR2*      |       10 |
| WVRPD17U*  |       10 |
| LCRPD15000 |       10 |
| AHRPD70006 |       10 |
| SFR2*      |       10 |
| WVRPD18U*  |       10 |
| LCR17000*  |       10 |
| ESR3YY     |       10 |
| ALCBD/DRD* |       10 |
| SGR2YY     |       10 |
| RBR3*      |       10 |
| LCA1       |       10 |
| SCCP       |       10 |
| BHR475     |       10 |
| LAOS       |       10 |
| RHRAS1     |       10 |
| CMR3*      |       10 |
| PDR17500-C |       10 |
| WAR18500*  |       10 |
| LCR140000* |       10 |
| WCR3-MF15( |       10 |
| LCRA15     |        9 |
| LOA1*      |        9 |
| ARR2*      |        9 |
| LCA115000* |        9 |
| LBPD       |        9 |
| MPSP*      |        9 |
| LBR1M      |        9 |
| LCR19500*  |        9 |
| PRRE-SF*   |        9 |
| LCRA2L     |        9 |
| HPR2YY     |        9 |
| LCR18500*  |        9 |
| LCA210     |        9 |
| COML*      |        9 |
| AHR17500*  |        9 |
| POR2S*     |        9 |
| SDSF8000*  |        9 |
| AHR3*      |        9 |
| POR3 1500  |        9 |
| ARR11000D* |        9 |
| LBCB*      |        9 |
| TORR-MH    |        9 |
| ESR1*      |        9 |
| LRR16OOO*  |        9 |
| LKR17500*  |        9 |
| LCR320UDP* |        9 |
| EMR3F*     |        9 |
| WCR140000& |        9 |
| WHR110     |        9 |
| PAM1       |        9 |
| LMR110000- |        9 |
| BPRG*      |        9 |
| POR3YY     |        9 |
| HGR4*      |        9 |
| SHR2*      |        9 |
| LBR4H      |        9 |
| SDSF15000* |        9 |
| LOCG*      |        9 |
| LCR17500ED |        9 |
| LRR3*      |        9 |
| CVR3-RD300 |        8 |
| LCRPD11.4U |        8 |
| DOHM*      |        8 |
| CCR4YY     |        8 |
| LCC1YY     |        8 |
| SER3*      |        8 |
| AHR335U*   |        8 |
| LBR2I      |        8 |
| POR32000*  |        8 |
| AVU*       |        8 |
| WVR19500*  |        8 |
| LAC1.5     |        8 |
| LRRA75OO*  |        8 |
| RMPD*      |        8 |
| POR31500S* |        8 |
| TOCC-GEN   |        8 |
| LBPD17     |        8 |
| LARD       |        8 |
| WCR16000*  |        8 |
| CUR3*      |        8 |
| CARM12U&D* |        8 |
| ARRO*      |        8 |
| LCR120000- |        8 |
| RBP1*      |        8 |
| AHRPD70005 |        8 |
| EMC3*      |        8 |
| SPR1YY     |        8 |
| MYR3*      |        8 |
| LCRPD60001 |        8 |
| INR1*      |        8 |
| WVRPD4OOOO |        8 |
| WHC2       |        8 |
| LCC1-RA100 |        8 |
| LCA11Y     |        8 |
| RPRM3600*  |        8 |
| RERPD8U*   |        8 |
| RERA10000* |        8 |
| CARM25U*   |        8 |
| TCR3*      |        8 |
| LAM2       |        8 |
| LCRPD6000  |        8 |
| ESR3       |        8 |
| SDSF7500(R |        8 |
| POR4*      |        8 |
| CVR181/2   |        8 |
| RBC1*      |        8 |
| LRD22*     |        8 |
| LVPR8A*    |        8 |
| WAR18500RU |        7 |
| LCR3DP*    |        7 |
| LRRR1*     |        7 |
| LAMR1      |        7 |
| HAR1*      |        7 |
| SDSF6000*  |        7 |
| SDR115000* |        7 |
| LCR110000- |        7 |
| LCRPD1OOOO |        7 |
| LCRA12000* |        7 |
| LVPR6A*    |        7 |
| LCRA1OOOO- |        7 |
| POR1*      |        7 |
| POR32000-S |        7 |
| LCRA9000*  |        7 |
| RMR3*      |        7 |
| WHRE*      |        7 |
| LCR115000* |        7 |
| LPR2*      |        7 |
| GLC3*      |        7 |
| LCRPD10U60 |        7 |
| CVRD2000*  |        7 |
| DOR16000*  |        7 |
| BFER3*     |        7 |
| CVR3-RD150 |        7 |
| RESIDENTIA |        7 |
| BUR1HY     |        7 |
| BUC1*      |        7 |
| WVA21*     |        7 |
| DOR110     |        7 |
| WCR3-MF25* |        7 |
| BGR3PD*    |        7 |
| WCR1-PCD1* |        7 |
| PDA11*     |        7 |
| CLHC*      |        7 |
| PRRE*      |        7 |
| CEADP4     |        7 |
| LORVD1200* |        7 |
| WHR17500*  |        7 |
| LCR17200*  |        7 |
| PVRM*      |        7 |
| LARAS4     |        7 |
| TCR3YY     |        7 |
| AHR26250*  |        7 |
| LFR1*      |        7 |
| RPRAIA     |        7 |
| WVRPD112U* |        7 |
| LCR16500*  |        7 |
| LNR3YY     |        7 |
| AHR110000* |        7 |
| HAH*       |        7 |
| LCRPD12U*  |        7 |
| BLR1YY     |        7 |
| AZR3C1200* |        7 |
| AZW-CF*    |        7 |
| LMR110000* |        7 |
| LCA15Y     |        7 |
| SMOP1*     |        6 |
| SHCO*      |        6 |
| DUC4*      |        6 |
| SLR2*      |        6 |
| BUR5*      |        6 |
| LNR1YY     |        6 |
| LRCM*      |        6 |
| LCC2-RA*   |        6 |
| CASP-9*    |        6 |
| BFR15000*  |        6 |
| SHR5*      |        6 |
| LM PUD*    |        6 |
| WHR2PP*    |        6 |
| PDRA7000*  |        6 |
| SDR171/2   |        6 |
| TOPR-LO    |        6 |
| PSRM32*    |        6 |
| LCRA1-A21* |        6 |
| LACR       |        6 |
| LCR113000* |        6 |
| LCRA10000- |        6 |
| AHRPD10*   |        6 |
| ARR3HY     |        6 |
| POR2YY     |        6 |
| LBPPD1     |        6 |
| LCA21-A11* |        6 |
| CUR03000*  |        6 |
| PSC*       |        6 |
| HPCP*      |        6 |
| LPR16000*  |        6 |
| RERA2L     |        6 |
| GDE3       |        6 |
| LCRA8000*  |        6 |
| LORVD1452* |        6 |
| WAR120000R |        6 |
| PDA120000* |        6 |
| LCA17500*  |        6 |
| POR31500*  |        6 |
| SCRM       |        6 |
| LMR1B15AWH |        6 |
| AZRA       |        6 |
| AZR3B-CF*  |        6 |
| DOR2&HFB*  |        6 |
| LRR16000DP |        6 |
| LCM1DP*    |        6 |
| AZR1B*     |        6 |
| WCMF8*     |        6 |
| DOR3-P*    |        6 |
| GDR_GA     |        6 |
| CORA*      |        6 |
| LCR12L     |        6 |

-------------
Column Name:  raw_tract_and_block
--------------

|                                    |   raw_tract_and_block |
|:-----------------------------------|----------------------:|
| (60370272.019999996, 60444919.091] |                 50135 |
| (60444919.091, 60518827.081]       |                     0 |
| (60518827.081, 60592735.071]       |                 20276 |
| (60592735.071, 60666643.061]       |                     0 |
| (60666643.061, 60740551.051]       |                     0 |
| (60740551.051, 60814459.041]       |                     0 |
| (60814459.041, 60888367.031]       |                     0 |
| (60888367.031, 60962275.021]       |                     0 |
| (60962275.021, 61036183.011]       |                     0 |
| (61036183.011, 61110091.001]       |                  6110 |

-------------
Column Name:  city_id
--------------

|                               |   city_id |
|:------------------------------|----------:|
| (3097.9339999999997, 42797.5] |     55080 |
| (42797.5, 82104.0]            |     17878 |
| (82104.0, 121410.5]           |      1046 |
| (121410.5, 160717.0]          |         0 |
| (160717.0, 200023.5]          |         0 |
| (200023.5, 239330.0]          |         0 |
| (239330.0, 278636.5]          |        24 |
| (278636.5, 317943.0]          |         0 |
| (317943.0, 357249.5]          |         0 |
| (357249.5, 396556.0]          |      1047 |

-------------
Column Name:  county_id
--------------

|                    |   county_id |
|:-------------------|------------:|
| (1284.184, 1467.5] |       20276 |
| (1467.5, 1649.0]   |           0 |
| (1649.0, 1830.5]   |           0 |
| (1830.5, 2012.0]   |           0 |
| (2012.0, 2193.5]   |        6110 |
| (2193.5, 2375.0]   |           0 |
| (2375.0, 2556.5]   |           0 |
| (2556.5, 2738.0]   |           0 |
| (2738.0, 2919.5]   |           0 |
| (2919.5, 3101.0]   |       50135 |

-------------
Column Name:  neighborhood
--------------

|                      |   neighborhood |
|:---------------------|---------------:|
| (6194.784, 82673.5]  |          11481 |
| (82673.5, 158395.0]  |           4543 |
| (158395.0, 234116.5] |             43 |
| (234116.5, 309838.0] |          11360 |
| (309838.0, 385559.5] |             72 |
| (385559.5, 461281.0] |           1898 |
| (461281.0, 537002.5] |              0 |
| (537002.5, 612724.0] |              0 |
| (612724.0, 688445.5] |             66 |
| (688445.5, 764167.0] |           1063 |

-------------
Column Name:  zip_code
--------------

|                       |   zip_code |
|:----------------------|-----------:|
| (95678.306, 126351.3] |      76465 |
| (126351.3, 156720.6]  |          0 |
| (156720.6, 187089.9]  |          0 |
| (187089.9, 217459.2]  |          0 |
| (217459.2, 247828.5]  |          0 |
| (247828.5, 278197.8]  |          0 |
| (278197.8, 308567.1]  |          0 |
| (308567.1, 338936.4]  |          0 |
| (338936.4, 369305.7]  |          0 |
| (369305.7, 399675.0]  |         12 |

-------------
Column Name:  num_rooms
--------------

|               |   num_rooms |
|:--------------|------------:|
| (-0.016, 1.5] |       58978 |
| (1.5, 3.0]    |         218 |
| (3.0, 4.5]    |        1413 |
| (4.5, 6.0]    |        7521 |
| (6.0, 7.5]    |        3834 |
| (7.5, 9.0]    |        4060 |
| (9.0, 10.5]   |         339 |
| (10.5, 12.0]  |         141 |
| (12.0, 13.5]  |          10 |
| (13.5, 15.0]  |           7 |

-------------
Column Name:  stories_type
--------------

|                |   stories_type |
|:---------------|---------------:|
| (6.992, 6.994] |              0 |
| (6.994, 6.996] |              0 |
| (6.996, 6.997] |              0 |
| (6.997, 6.999] |              0 |
| (6.999, 7.0]   |             50 |
| (7.0, 7.001]   |              0 |
| (7.001, 7.003] |              0 |
| (7.003, 7.004] |              0 |
| (7.004, 7.006] |              0 |
| (7.006, 7.007] |              0 |

-------------
Column Name:  three_quarter_baths
--------------

|              |   three_quarter_baths |
|:-------------|----------------------:|
| (0.993, 1.6] |                 10010 |
| (1.6, 2.2]   |                    75 |
| (2.2, 2.8]   |                     0 |
| (2.8, 3.4]   |                     8 |
| (3.4, 4.0]   |                     0 |
| (4.0, 4.6]   |                     0 |
| (4.6, 5.2]   |                     0 |
| (5.2, 5.8]   |                     0 |
| (5.8, 6.4]   |                     0 |
| (6.4, 7.0]   |                     1 |

-------------
Column Name:  units
--------------

|              |   units |
|:-------------|--------:|
| (0.994, 1.5] |   47035 |
| (1.5, 2.0]   |    1855 |
| (2.0, 2.5]   |       0 |
| (2.5, 3.0]   |     480 |
| (3.0, 3.5]   |       0 |
| (3.5, 4.0]   |     614 |
| (4.0, 4.5]   |       0 |
| (4.5, 5.0]   |       0 |
| (5.0, 5.5]   |       0 |
| (5.5, 6.0]   |       1 |

-------------
Column Name:  yard_sqft_17
--------------

|                  |   yard_sqft_17 |
|:-----------------|---------------:|
| (7.819, 329.0]   |           1629 |
| (329.0, 647.0]   |            603 |
| (647.0, 965.0]   |             94 |
| (965.0, 1283.0]  |             34 |
| (1283.0, 1601.0] |              9 |
| (1601.0, 1919.0] |              1 |
| (1919.0, 2237.0] |              2 |
| (2237.0, 2555.0] |              2 |
| (2555.0, 2873.0] |              1 |
| (2873.0, 3191.0] |              2 |

-------------
Column Name:  yard_sqft_26
--------------

|                |   yard_sqft_26 |
|:---------------|---------------:|
| (11.143, 97.6] |             24 |
| (97.6, 183.2]  |             14 |
| (183.2, 268.8] |             10 |
| (268.8, 354.4] |              7 |
| (354.4, 440.0] |              4 |
| (440.0, 525.6] |              6 |
| (525.6, 611.2] |              2 |
| (611.2, 696.8] |              1 |
| (696.8, 782.4] |              1 |
| (782.4, 868.0] |              1 |

-------------
Column Name:  year_built
--------------

|      |   year_built |
|-----:|-------------:|
| 1955 |         1956 |
| 1989 |         1786 |
| 1950 |         1663 |
| 1964 |         1611 |
| 1954 |         1580 |
| 1953 |         1540 |
| 1973 |         1526 |
| 1956 |         1437 |
| 1987 |         1429 |
| 1979 |         1422 |
| 1990 |         1390 |
| 1980 |         1372 |
| 1963 |         1311 |
| 1977 |         1270 |
| 1952 |         1251 |
| 1965 |         1241 |
| 1951 |         1236 |
| 1986 |         1234 |
| 1972 |         1220 |
| 1974 |         1219 |
| 1978 |         1195 |
| 1981 |         1153 |
| 1959 |         1141 |
| 1985 |         1133 |
| 1962 |         1126 |
| 1971 |         1107 |
| 1984 |         1090 |
| 1947 |         1086 |
| 1957 |         1068 |
| 1949 |         1067 |
| 1988 |         1047 |
| 1976 |         1043 |
| 1948 |         1027 |
| 2006 |          946 |
| 1960 |          940 |
| 2005 |          934 |
| 1969 |          917 |
| 1961 |          904 |
| 1983 |          850 |
| 2003 |          849 |
| 2007 |          845 |
| 1958 |          834 |
| 2004 |          832 |
| 1975 |          791 |
| 2001 |          778 |
| 1970 |          771 |
| 1968 |          732 |
| 1923 |          721 |
| 1999 |          705 |
| 1982 |          690 |
| 1966 |          688 |
| 2002 |          677 |
| 2000 |          676 |
| 1924 |          649 |
| 1998 |          624 |
| 1997 |          581 |
| 1991 |          577 |
| 1941 |          571 |
| 1994 |          570 |
| 1992 |          559 |
| 1940 |          558 |
| 1925 |          556 |
| 1996 |          543 |
| 1995 |          539 |
| 1967 |          534 |
| 1922 |          510 |
| 1926 |          507 |
| 1939 |          478 |
| 1993 |          478 |
| 1946 |          438 |
| 2008 |          405 |
| 1927 |          401 |
| 1938 |          398 |
| 1928 |          384 |
| 1944 |          347 |
| 1942 |          339 |
| 1937 |          337 |
| 2009 |          330 |
| 2010 |          315 |
| 1929 |          299 |
| 2013 |          297 |
| 1921 |          281 |
| 1936 |          262 |
| 1930 |          260 |
| 2014 |          252 |
| 2012 |          245 |
| 1920 |          219 |
| 2011 |          206 |
| 1945 |          186 |
| 1912 |          168 |
| 1943 |          167 |
| 1910 |          159 |
| 1931 |          144 |
| 1935 |          137 |
| 1913 |          126 |
| 1911 |          108 |
| 1932 |          102 |
| 1915 |           97 |
| 2015 |           95 |
| 1914 |           89 |
| 1905 |           88 |
| 1919 |           88 |
| 1908 |           86 |
| 1909 |           84 |
| 1933 |           78 |
| 1906 |           70 |
| 1907 |           62 |
| 1934 |           62 |
| 1918 |           60 |
|  nan |           57 |
| 1916 |           55 |
| 1917 |           55 |
| 1904 |           34 |
| 1903 |           31 |
| 1895 |           20 |
| 1901 |           19 |
| 1900 |           15 |
| 1902 |           14 |
| 1890 |           10 |
| 1898 |            7 |
| 1885 |            6 |
| 1893 |            5 |
| 1896 |            5 |
| 2016 |            4 |
| 1888 |            4 |
| 1887 |            3 |
| 1897 |            3 |
| 1892 |            2 |
| 1899 |            2 |
| 1883 |            1 |
| 1889 |            1 |
| 1878 |            1 |
| 1866 |            1 |
| 1824 |            1 |
| 1882 |            1 |
| 1894 |            1 |
| 1880 |            1 |

-------------
Column Name:  num_stories
--------------

|              |   num_stories |
|:-------------|--------------:|
| (0.994, 1.5] |         10328 |
| (1.5, 2.0]   |          6572 |
| (2.0, 2.5]   |             0 |
| (2.5, 3.0]   |           435 |
| (3.0, 3.5]   |             0 |
| (3.5, 4.0]   |             0 |
| (4.0, 4.5]   |             0 |
| (4.5, 5.0]   |             0 |
| (5.0, 5.5]   |             0 |
| (5.5, 6.0]   |             1 |

-------------
Column Name:  fireplace_flag
--------------

|                  |   fireplace_flag |
|:-----------------|-----------------:|
| (0.9989, 0.9992] |                0 |
| (0.9992, 0.9994] |                0 |
| (0.9994, 0.9996] |                0 |
| (0.9996, 0.9998] |                0 |
| (0.9998, 1.0]    |              172 |
| (1.0, 1.0002]    |                0 |
| (1.0002, 1.0004] |                0 |
| (1.0004, 1.0006] |                0 |
| (1.0006, 1.0008] |                0 |
| (1.0008, 1.001]  |                0 |

-------------
Column Name:  building_tax_value
--------------

|                        |   building_tax_value |
|:-----------------------|---------------------:|
| (-9120.858, 916529.7]  |                75431 |
| (916529.7, 1833015.4]  |                  834 |
| (1833015.4, 2749501.1] |                  109 |
| (2749501.1, 3665986.8] |                   38 |
| (3665986.8, 4582472.5] |                    9 |
| (4582472.5, 5498958.2] |                    7 |
| (5498958.2, 6415443.9] |                    2 |
| (6415443.9, 7331929.6] |                    2 |
| (7331929.6, 8248415.3] |                    4 |
| (8248415.3, 9164901.0] |                    1 |

-------------
Column Name:  tax_value
--------------

|                                  |   tax_value |
|:---------------------------------|------------:|
| (-48060.236999999994, 4907023.6] |       76311 |
| (4907023.6, 9813047.2]           |         172 |
| (9813047.2, 14719070.8]          |          24 |
| (14719070.8, 19625094.4]         |           8 |
| (19625094.4, 24531118.0]         |           4 |
| (24531118.0, 29437141.6]         |           1 |
| (29437141.6, 34343165.2]         |           0 |
| (34343165.2, 39249188.8]         |           0 |
| (39249188.8, 44155212.4]         |           0 |
| (44155212.4, 49061236.0]         |           1 |

-------------
Column Name:  year_assesed
--------------

|                      |   year_assesed |
|:---------------------|---------------:|
| (2013.983, 2014.387] |              0 |
| (2014.387, 2014.79]  |              0 |
| (2014.79, 2015.194]  |              0 |
| (2015.194, 2015.597] |              0 |
| (2015.597, 2016.0]   |          76521 |
| (2016.0, 2016.403]   |              0 |
| (2016.403, 2016.806] |              0 |
| (2016.806, 2017.21]  |              0 |
| (2017.21, 2017.613]  |              0 |
| (2017.613, 2018.016] |              0 |

-------------
Column Name:  land_tax_value
--------------

|                                 |   land_tax_value |
|:--------------------------------|-----------------:|
| (-48791.03799999999, 4895364.7] |            76414 |
| (4895364.7, 9790568.4]          |               86 |
| (9790568.4, 14685772.1]         |               14 |
| (14685772.1, 19580975.8]        |                5 |
| (19580975.8, 24476179.5]        |                1 |
| (24476179.5, 29371383.2]        |                0 |
| (29371383.2, 34266586.9]        |                0 |
| (34266586.9, 39161790.6]        |                0 |
| (39161790.6, 44056994.3]        |                0 |
| (44056994.3, 48952198.0]        |                1 |

-------------
Column Name:  tax_amount
--------------

|                                 |   tax_amount |
|:--------------------------------|-------------:|
| (-566.6999999999999, 58681.858] |        76315 |
| (58681.858, 117343.796]         |          167 |
| (117343.796, 176005.734]        |           20 |
| (176005.734, 234667.672]        |            9 |
| (234667.672, 293329.61]         |            4 |
| (293329.61, 351991.548]         |            0 |
| (351991.548, 410653.486]        |            0 |
| (410653.486, 469315.424]        |            0 |
| (469315.424, 527977.362]        |            0 |
| (527977.362, 586639.3]          |            1 |

-------------
Column Name:  tax_delinquency_flag
--------------

|    |   tax_delinquency_flag |
|:---|-----------------------:|
|    |                  73669 |
| Y  |                   2852 |

-------------
Column Name:  tax_delinquency_year
--------------

|               |   tax_delinquency_year |
|:--------------|-----------------------:|
| (2.903, 12.6] |                    348 |
| (12.6, 22.2]  |                   2503 |
| (22.2, 31.8]  |                      0 |
| (31.8, 41.4]  |                      0 |
| (41.4, 51.0]  |                      0 |
| (51.0, 60.6]  |                      0 |
| (60.6, 70.2]  |                      0 |
| (70.2, 79.8]  |                      0 |
| (79.8, 89.4]  |                      0 |
| (89.4, 99.0]  |                      1 |

-------------
Column Name:  tract_and_block
--------------

|                                         |   tract_and_block |
|:----------------------------------------|------------------:|
| (59948352007016.984, 102636920499301.5] |             76300 |
| (102636920499301.5, 144902829897603.0]  |                 0 |
| (144902829897603.0, 187168739295904.5]  |                 0 |
| (187168739295904.5, 229434648694206.03] |                 0 |
| (229434648694206.03, 271700558092507.5] |                 0 |
| (271700558092507.5, 313966467490809.0]  |                 0 |
| (313966467490809.0, 356232376889110.5]  |                 0 |
| (356232376889110.5, 398498286287411.94] |                 0 |
| (398498286287411.94, 440764195685713.5] |                 0 |
| (440764195685713.5, 483030105084015.0]  |                 1 |

-------------
-----------------
---End of Line---

# FINAL CELL
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>